- var page = "co-payment";
doctype html
html(lang="vi")
    head
        title 9life
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        meta(name='format-detection', content='telephone=no')
        link(rel='shortcut icon', type='image/x-icon', href='images/logo-purple.png')

        link(rel="stylesheet" href="css/libs/bootstrap.min.css")
        link(rel="stylesheet" href="css/styles.css")
    body(ontouchstart='')
        include jades/life-menu.jade
        main.life-wrapper
            include jades/header.jade
            section.life-checkout
                .co-payment
                    .co-payment__info
                        .checkout-top
                            .checkout-top__left
                                .checkout-top__title
                                    h5 Luxury Package
                                .checkout-top__address
                                    svg(width='12', height='13', viewBox='0 0 12 13', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M6 0.470581C3.075 0.470581 0.75 2.79558 0.75 5.72058C0.75 7.14558 1.275 8.49558 2.325 9.47058C2.4 9.54558 5.4 12.2456 5.475 12.3206C5.775 12.5456 6.225 12.5456 6.45 12.3206C6.525 12.2456 9.6 9.54558 9.6 9.47058C10.65 8.49558 11.175 7.14558 11.175 5.72058C11.25 2.79558 8.925 0.470581 6 0.470581ZM6 7.22058C5.175 7.22058 4.5 6.54558 4.5 5.72058C4.5 4.89558 5.175 4.22058 6 4.22058C6.825 4.22058 7.5 4.89558 7.5 5.72058C7.5 6.54558 6.825 7.22058 6 7.22058Z', fill='#6A28FA')
                                    p
                                        | 1900 Nightclub
                                        span 36 Hàng Buồm, Hà Nội
                            .checkout-top__right
                                .checkout-top__img
                                    img(src="images/checkout-item1.png")
                        .co-payment__date
                            .co-payment__title
                                svg(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M15 2H13V0H11V2H9V0H7V2H5V0H3V2H1C0.447 2 0 2.447 0 3V15C0 15.553 0.447 16 1 16H15C15.553 16 16 15.553 16 15V3C16 2.447 15.553 2 15 2ZM14 14H2V5H14V14Z', fill='#6A28FA')
                                    path(d='M6 7H4V9H6V7Z', fill='#6A28FA')
                                    path(d='M9 7H7V9H9V7Z', fill='#6A28FA')
                                    path(d='M6 10H4V12H6V10Z', fill='#6A28FA')
                                    path(d='M9 10H7V12H9V10Z', fill='#6A28FA')
                                    path(d='M12 7H10V9H12V7Z', fill='#6A28FA')
                                    path(d='M12 10H10V12H12V10Z', fill='#6A28FA')
                                span Ngày
                            .co-payment__input
                                input.form-control(value="Thứ 3, 25 Tháng 4, 2019")
                                button(type='button') Đổi
                        .co-payment__benefit
                            .list-icon
                                .list-icon__item
                                    svg(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M8 0C3.6 0 0 3.6 0 8C0 12.4 3.6 16 8 16C12.4 16 16 12.4 16 8C16 3.6 12.4 0 8 0ZM7 11.4L3.6 8L5 6.6L7 8.6L11 4.6L12.4 6L7 11.4Z', fill='#29D930')
                                    span Khách được đi cửa riêng
                                .list-icon__item
                                    svg(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M8 0C3.6 0 0 3.6 0 8C0 12.4 3.6 16 8 16C12.4 16 16 12.4 16 8C16 3.6 12.4 0 8 0ZM7 11.4L3.6 8L5 6.6L7 8.6L11 4.6L12.4 6L7 11.4Z', fill='#29D930')
                                    span Đã bao gồm tất cả các chi phí
                                .list-icon__item
                                    svg(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M8 0C3.6 0 0 3.6 0 8C0 12.4 3.6 16 8 16C12.4 16 16 12.4 16 8C16 3.6 12.4 0 8 0ZM7 11.4L3.6 8L5 6.6L7 8.6L11 4.6L12.4 6L7 11.4Z', fill='#29D930')
                                    span Đảm bảo giữ chỗ đến 11h
                                .list-icon__item
                                    svg(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M8 0C3.6 0 0 3.6 0 8C0 12.4 3.6 16 8 16C12.4 16 16 12.4 16 8C16 3.6 12.4 0 8 0ZM11.5 10.1L10.1 11.5L8 9.4L5.9 11.5L4.5 10.1L6.6 8L4.5 5.9L5.9 4.5L8 6.6L10.1 4.5L11.5 5.9L9.4 8L11.5 10.1Z', fill='#FF3B30')
                                    span Điều khoản cần chú ý
                        ul.co-payment__price
                            li
                                p Tổng tiền
                                p 2.400.000đ

                            li
                                p Giảm
                                p -1.200.000đ


                            li.li-payment
                                p Cần thanh toán
                                p 1.200.000đ
                    .co-payment__form
                        .co-payment__radio
                            .radio
                                input(type='radio' id='r1' name='radio')
                                label(for='r1') Anh
                            .radio
                                input(type='radio' id='r2' name='radio')
                                label(for='r2') Chị
                        .form-group
                            input.form-control(type="text" placeholder="Họ và Tên")
                        .form-group
                            input.form-control(type="text" placeholder="Số Điện Thoại")
                        .form-group
                            input.form-control(type="text" placeholder="Yêu cầu khác (không bắt buộc)")
                        p Quý khách hàng sẽ nhận mã booking gửi về số điện thoại và trong tài khoản app ngay sau khi thanh toán xong.
                    .co-payment__choise
                        .co-payment__title
                            svg(width='16', height='12', viewBox='0 0 16 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M16 3V1C16 0.4 15.6 0 15 0H1C0.4 0 0 0.4 0 1V3H16Z', fill='#6A28FA')
                                path(d='M0 5V11C0 11.6 0.4 12 1 12H15C15.6 12 16 11.6 16 11V5H0ZM6 9H2V8H6V9ZM14 9H12V8H14V9Z', fill='#6A28FA')
                            span Lựa chọn hình thức thanh toán
                        .life-payment
                            .life-payment__item.active
                                .life-payment__img
                                    img(src="images/payment-1.png")
                                .life-payment__text
                                    p Thanh toán bằng Thẻ nội địa
                                    span Quý khách sẽ được chuyển đến cổng thanh toán 123pay để thanh toán
                            .life-payment__item
                                .life-payment__img
                                    img(src="images/payment-2.png")
                                .life-payment__text
                                    p Thanh toán bằng Thẻ quốc tế
                                    span Quý khách sẽ được chuyển đến cổng thanh toán 123pay để thanh toán
                            .life-payment__item
                                .life-payment__img
                                    img(src="images/payment-3.png")
                                .life-payment__text
                                    p Thanh toán bằng ZaloPay
                                    span Quý khách vui lòng cài app ZaloPay để thuận lợi cho việc thanh toán
                            .life-payment__item
                                .life-payment__img
                                    img(src="images/payment-4.png")
                                .life-payment__text
                                    p Thanh toán bằng Ví Momo
                                    span Quý khách vui lòng cài app Momo để thuận lợi cho việc thanh toán
                    .checkout-btn
                        a(href="co-success.html") Thanh Toán


        script(type='text/javascript' src="js/jquery-3.2.1.slim.min.js")
        script(type='text/javascript' src="js/popper.min.js")
        script(type='text/javascript' src="js/bootstrap.min.js")
        script.
            $(".life-header__menu").click(function () {
                $('body').addClass('open-menu');
            });
            $(".life-backdrop").click(function () {
                $('body').removeClass('open-menu');
            });




