- var page = "co-success";
doctype html
html(lang="vi")
    head
        title 9life
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        meta(name='format-detection', content='telephone=no')
        link(rel='shortcut icon', type='image/x-icon', href='images/logo-purple.png')

        link(rel="stylesheet" href="css/libs/bootstrap.min.css")
        link(rel="stylesheet" href="css/libs/owl.carousel.min.css")
        link(rel="stylesheet" href="css/libs/owl.theme.default.min.css")
        link(rel="stylesheet" href="css/styles.css")
    body(ontouchstart='')
        main.life-wrapper
            section.life-checkout
                .co-success
                    .co-success__header
                        .co-success__logo
                            img(src="images/logo-purple.svg")
                        .co-success__text
                            p Done

                    .co-success__title
                        h5 chúc mừng bạn
                            span đã đặt mua thành công
                    .co-success__content
                        .co-success__box
                            .co-success__top
                                .checkout-top
                                    .checkout-top__left
                                        .checkout-title
                                            h5 1900 Nightclub
                                        .checkout-location
                                            .checkout-location__icon
                                                i.fas.fa-map-marker-alt
                                            .checkout-location__text
                                                span 12 Hàng Buồm, Hoàn Kiếm , Hà Nội





                                .co-success__info
                                    p Khách đặt
                                        span Mr.Jason Chen
                                .co-success__info
                                    p Thời gian
                                        span 19:00, 12 Tháng 4, 2019
                            .co-success__middle
                                .checkout-top
                                    .checkout-top__left
                                        .checkout-title
                                            span Package
                                            h5 Combo King Size
                                        .checkout-top__text
                                            p 3 x Rượu Whiske
                                            p 2 x Hoa quả
                                            p 4 x Người
                                            p 10 x Bóng
                                        p.total 1.200.000đ

                                    .checkout-top__right
                                        img(src="images/checkout-item1.png")

                        .co-success__box
                            .co-success__bottom
                                img(src="images/qrcode.png")
                                p Mã đặt chỗ
                                span AL12BUW89S
                    .co-success__history
                        a(href="") Booking History
        script(type='text/javascript' src="js/jquery-3.2.1.slim.min.js")
        script(type='text/javascript' src="js/popper.min.js")
        script(type='text/javascript' src="js/bootstrap.min.js")
        script.
