- var page = "co-success";
doctype html
html(lang="vi")
    head
        include jades/head.jade
    body(ontouchstart='')
        main.life-wrapper
            section.life-checkout
                .co-success
                    .co-success__header
                        .co-success__logo
                            svg(width='41', height='40', viewBox='0 0 41 40', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M38.4505 12.2218C37.4425 9.83857 35.9999 7.69862 34.1626 5.86131C32.3256 4.02427 30.1856 2.58142 27.8021 1.57342C25.3337 0.529423 22.7127 0 20.012 0C17.3112 0 14.6902 0.529422 12.2218 1.5737C9.83857 2.58169 7.69862 4.02427 5.86131 5.86158C4.02427 7.69862 2.58169 9.83857 1.5737 12.2218C0.529423 14.6905 0 17.3115 0 20.012C0 22.7124 0.529423 25.3337 1.5737 27.8024C2.58169 30.1856 4.02427 32.3256 5.86158 34.1629C7.08481 35.3861 8.44245 36.4342 9.91691 37.296L12.589 33.6824C11.2801 32.971 10.0827 32.0757 9.01558 31.0089C7.58674 29.58 6.46495 27.9165 5.68181 26.0648C4.87146 24.1489 4.46051 22.1126 4.46051 20.0122C4.46051 17.9119 4.87146 15.8755 5.68181 13.9596C6.46495 12.108 7.58647 10.4447 9.01558 9.01558C10.4444 7.58674 12.108 6.46495 13.9596 5.68181C15.8755 4.87146 17.9119 4.46051 20.0122 4.46051C22.1126 4.46051 24.1489 4.87146 26.0649 5.68181C27.9165 6.46495 29.5798 7.58647 31.0089 9.01558C32.4377 10.4444 33.5595 12.108 34.3426 13.9596C35.6 16.9324 35.8287 20.264 35.1225 23.4043C34.374 26.7334 32.5658 29.2991 30.552 31.9635C29.8651 32.8723 29.1669 33.7728 28.4893 34.6887C28.0613 35.2673 27.6333 35.846 27.2053 36.4243L26.5349 37.3303C26.3782 37.542 26.2215 37.7539 26.0649 37.9656L25.0063 39.3963C25.9568 39.1517 26.89 38.8364 27.8027 38.4505C30.1859 37.4425 32.3258 35.9999 34.1632 34.1626C36.0002 32.3256 37.443 30.1856 38.451 27.8021C39.4953 25.3334 40.0247 22.7124 40.0247 20.0117C40.0247 17.311 39.4948 14.6905 38.4505 12.2218Z', fill='white')
                                path(d='M29.3466 25.9412C29.9024 25.0528 30.3299 24.194 30.6306 23.1888C30.9387 22.1596 31.0927 21.0865 31.0927 20.0123C31.0927 18.5174 30.7994 17.0661 30.221 15.6985C29.6627 14.3788 28.8642 13.1941 27.8472 12.177C26.8304 11.1602 25.6453 10.3614 24.3256 9.80314C22.9581 9.22479 21.5067 8.93149 20.0119 8.93149C18.5171 8.93149 17.0657 9.22479 15.6982 9.80314C14.3785 10.3614 13.1937 11.16 12.1767 12.177C11.1599 13.1941 10.3611 14.3788 9.8028 15.6985C9.22445 17.0661 8.93115 18.5174 8.93115 20.0123C8.93115 21.5071 9.22445 22.9584 9.8028 24.326C10.3611 25.6457 11.1596 26.8304 12.1767 27.8475C13.1935 28.8643 14.3785 29.6631 15.6982 30.2214C17.0657 30.7997 18.5171 31.093 20.0119 31.093C20.0254 31.093 20.0389 31.0927 20.0523 31.0927L16.9657 35.2668C16.9654 35.2668 16.9651 35.2668 16.9649 35.2666L14.1022 39.1377C15.6919 39.6292 17.334 39.9181 19.0108 40C20.0897 38.5412 21.1686 37.0824 22.2478 35.6239C23.4829 33.954 24.7278 32.2915 25.9645 30.623C27.1105 29.077 28.3238 27.5756 29.3466 25.9412ZM25.3061 23.9881C25.12 24.235 24.9155 24.4706 24.6932 24.6932C23.4427 25.9437 21.7802 26.6322 20.0119 26.6322C18.2436 26.6322 16.5811 25.9437 15.3307 24.6932C14.0802 23.4428 13.3917 21.7803 13.3917 20.012C13.3917 18.2437 14.0802 16.5812 15.3307 15.3307C16.5811 14.0803 18.2436 13.3917 20.0119 13.3917C21.7802 13.3917 23.4427 14.0803 24.6932 15.3307C25.9436 16.5812 26.6322 18.2437 26.6322 20.012C26.6322 21.4251 26.1918 22.7704 25.3771 23.8922L25.3061 23.9881Z', fill='white')
                        .co-success__text
                            p Done
                    .co-success__title
                        h5 chúc mừng bạn
                            span đã đặt mua thành công
                    .co-success__content
                        .booking-box
                            .booking-box__body
                                .booking-box__top
                                    .booking-box__info
                                        .booking-box__name
                                            p.p1 1900 Nightclub
                                            p.p2
                                                svg(width='12', height='13', viewBox='0 0 12 13', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M6 0.470581C3.075 0.470581 0.75 2.79558 0.75 5.72058C0.75 7.14558 1.275 8.49558 2.325 9.47058C2.4 9.54558 5.4 12.2456 5.475 12.3206C5.775 12.5456 6.225 12.5456 6.45 12.3206C6.525 12.2456 9.6 9.54558 9.6 9.47058C10.65 8.49558 11.175 7.14558 11.175 5.72058C11.25 2.79558 8.925 0.470581 6 0.470581ZM6 7.22058C5.175 7.22058 4.5 6.54558 4.5 5.72058C4.5 4.89558 5.175 4.22058 6 4.22058C6.825 4.22058 7.5 4.89558 7.5 5.72058C7.5 6.54558 6.825 7.22058 6 7.22058Z', fill='#6A28FA')
                                                span 12 Hàng Buồm, Hoàn Kiếm , Hà Nội
                                        .booking-box__group
                                            p.p1 Khách đặt
                                            p.p2 Mr. Jason Chen
                                        .booking-box__group
                                            p.p1 Thời gian
                                            p.p2 19:00, 12 Tháng 4, 2019
                                    .booking-box__package
                                        .d-block
                                            p.p1 Package
                                            p.p2 Combo King Size
                                            ul
                                                li 3 x Rượu Whiske
                                                li 2 x Hoa quả
                                                li 4 x Người
                                                li 10 x Bóng
                                            p.p3 1.200.000đ
                                        .booking-box__img
                                            img(src='images/checkout-item1.png')
                                    .dashed
                                        hr
                                .booking-box__bottom
                                    .booking-box__code
                                        .code-qr
                                            img(src='images/qr-code.jpg')
                                        p.p1 Mã đặt chỗ
                                        p.p2 BUW89S
                    .co-success__history
                        a(href="") Booking History
        script(type='text/javascript' src="js/jquery-3.2.1.slim.min.js")
        script(type='text/javascript' src="js/popper.min.js")
        script(type='text/javascript' src="js/bootstrap.min.js")
        script.
