- var page = "detail-booking";
doctype html
html(lang="vi")
    head
        title 9life
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        meta(name='format-detection', content='telephone=no')
        link(rel='shortcut icon', type='image/x-icon', href='images/logo-purple.png')

        link(rel="stylesheet" href="css/libs/bootstrap.min.css")
        link(rel="stylesheet" href="css/styles.css")

    body(ontouchstart='')
        main.life-wrapper
            section.life-booking
                .booking-header
                    .booking-header__back
                        a
                            img(src="images/arrow-left.svg")
                    .booking-header__title
                        p Booking
                .detail-booking
                    .container
                        .booking-box
                            .booking-box__header
                                .booking-box__saw
                                img(src='images/logo-purple-clear.svg')
                            .booking-box__top
                                .booking-box__info
                                    .booking-box__name
                                        p.p1 1900 Nightclub
                                        p.p2
                                            img(src='images/i-address.svg')
                                            span 12 Hàng Buồm, Hoàn Kiếm , Hà Nội
                                    .booking-box__group
                                        p.p1 Khách đặt
                                        p.p2 Mr. Jason Chen
                                    .booking-box__group
                                        p.p1 Thời gian
                                        p.p2 19:00, 12 Tháng 4, 2019
                                .booking-box__package
                                    .d-block
                                        p.p1 Package
                                        p.p2 Combo King Size
                                        ul
                                            li 3 x Rượu Whiske
                                            li 2 x Hoa quả
                                            li 4 x Người
                                            li 10 x Bóng
                                        p.p3 1.200.000đ
                                    .booking-box__img
                                        img(src='images/checkout-item1.png')
                            .booking-box__bottom
                                .booking-box__code
                                    .code-qr
                                        img(src='images/qr-code.jpg')
                                    p.p1 Mã đặt chỗ
                                    p.p2 BUW89S
                        .view-map
                            .view-map__content
                                .view-map__iframe
                                    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.9396084366467!2d105.84974741404599!3d21.035102285994878!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135abbf5c6e7ce3%3A0xcfa017611623993c!2s1900+Club+Hanoi!5e0!3m2!1sen!2s!4v1557236876952!5m2!1sen!2s' allowfullscreen='')
                                .view-map__tab
                                    .view-map__tab__item
                                        img(src='images/i-show-map.svg')
                                        span Xem bản đồ
                                    .view-map__tab__item
                                        img(src='images/i-direct.svg')
                                        span Chỉ đường
                        .guide-box
                            .guide-box__title
                                h5 Hướng dẫn sử dụng
                            ul
                                li
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet lectus pharetra, mollis libero eget, interdum lectus. Vivamus at ipsum est.
                                li
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet lectus pharetra, mollis libero eget, interdum lectus. Vivamus at ipsum est.
                                li
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet lectus pharetra, mollis libero eget, interdum lectus. Vivamus at ipsum est.
                                li
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet lectus pharetra, mollis libero eget, interdum lectus. Vivamus at ipsum est.
                        .guide-box
                            .guide-box__title
                                h5 Những điều cần lưu ý
                            ul
                                li
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet lectus pharetra, mollis libero eget, interdum lectus. Vivamus at ipsum est.
                                li
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet lectus pharetra, mollis libero eget, interdum lectus. Vivamus at ipsum est.
                                li
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet lectus pharetra, mollis libero eget, interdum lectus. Vivamus at ipsum est.
                                li
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet lectus pharetra, mollis libero eget, interdum lectus. Vivamus at ipsum est.
        script(type='text/javascript' src="js/jquery-3.2.1.slim.min.js")
        script(type='text/javascript' src="js/popper.min.js")
        script(type='text/javascript' src="js/bootstrap.min.js")






