- var page = "detail-bar";
doctype html
html(lang="vi")
    head
        title 9life
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        meta(name='format-detection', content='telephone=no')
        link(rel='shortcut icon', type='image/x-icon', href='images/logo-purple.png')

        link(rel="stylesheet" href="css/libs/bootstrap.min.css")
        link(rel="stylesheet" href="css/libs/owl.carousel.min.css")
        link(rel="stylesheet" href="css/libs/owl.theme.default.min.css")
        link(rel="stylesheet" href="css/styles.css")
    body(ontouchstart='')
        main.life-wrapper
            section.life-detail
                .detail-bar
                    .detail-header
                        .detail-header__left
                            a.detail-header__back(href='home.html')
                                svg(width='30', height='30', viewBox='0 0 30 30', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(fill-rule='evenodd', clip-rule='evenodd', d='M30 15C30 6.71596 23.284 -1.01778e-06 15 -6.55671e-07C6.71596 -2.93564e-07 -1.01778e-06 6.71596 -6.55671e-07 15C-2.93564e-07 23.284 6.71596 30 15 30C23.284 30 30 23.284 30 15Z', fill='#FFEA31')
                                    path(fill-rule='evenodd', clip-rule='evenodd', d='M12.4943 8.98788C12.4943 8.98788 7.36656 14.1036 7.31722 14.1463C7.07626 14.3545 6.92308 14.6584 6.92308 15C6.92308 15.3558 7.09003 15.6706 7.34877 15.8788C7.40442 15.9232 12.4943 21.0121 12.4943 21.0121C12.9424 21.4575 13.6693 21.4575 14.1168 21.0121C14.5648 20.5668 14.5648 19.8443 14.1168 19.3995L10.8386 16.1405L21.9238 16.1405C22.5606 16.1405 23.0769 15.6296 23.0769 15C23.0769 14.3699 22.5606 13.8595 21.9238 13.8595L10.8386 13.8595L14.1168 10.6005C14.5648 10.1557 14.5648 9.43324 14.1168 8.98788C13.6693 8.54251 12.9424 8.54251 12.4943 8.98788Z', fill='black')
                        .detail-header__right
                            .icon-round
                                .icon-round__item.icon-heart
                                    svg(width='16', height='16', viewBox='0 0 24 22', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M21.243 2.757C18.9 0.414 15.101 0.414 12.758 2.757C12.469 3.046 12.218 3.357 12.001 3.684C11.784 3.357 11.532 3.045 11.244 2.757C8.901 0.414 5.102 0.414 2.759 2.757C0.415997 5.1 0.415997 8.899 2.759 11.242L12 20.485L21.243 11.242C23.586 8.899 23.586 5.1 21.243 2.757Z', stroke='white', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                .icon-round__item.icon-dots
                                    svg(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        g(clip-path='url(#clip0)')
                                            path(d='M8 6C6.89543 6 6 6.89543 6 8C6 9.10457 6.89543 10 8 10C9.10457 10 10 9.10457 10 8C10 6.89543 9.10457 6 8 6Z', fill='white')
                                            path(d='M14 6C12.8954 6 12 6.89543 12 8C12 9.10457 12.8954 10 14 10C15.1046 10 16 9.10457 16 8C16 6.89543 15.1046 6 14 6Z', fill='white')
                                            path(d='M2 6C0.895429 6 -1.22508e-06 6.89543 -1.12852e-06 8C-1.03196e-06 9.10457 0.89543 10 2 10C3.10457 10 4 9.10457 4 8C4 6.89543 3.10457 6 2 6Z', fill='white')
                                        defs
                                            clippath#clip0
                                                rect(width='16', height='16', fill='white', transform='translate(16 16) rotate(180)')
                    .detail-bar__banner
                        img(src='images/bar-banner.jpg')
                    .detail-bar__name
                        .home-profile
                            .home-profile__top
                                .home-profile__name
                                    p.p1 BAR
                                    p.p2 1900
                                    p.p3
                                        svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M13.7375 1.4875C14.2625 0.9625 13.9125 0 13.125 0H0.874997C0.0874973 0 -0.262503 0.9625 0.262497 1.4875L6.125 7.35V12.25H2.625V14H11.375V12.25H7.875V7.35L13.7375 1.4875Z', fill='#47FF43')
                                        span available booking · $$$
                                .home-profile__avatar
                                    img(src='images/bar-logo.jpg')
                            .home-profile__info
                                p
                                    svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M7 0C3.15 0 0 3.15 0 7C0 10.85 3.15 14 7 14C10.85 14 14 10.85 14 7C14 3.15 10.85 0 7 0ZM7 12.25C4.1125 12.25 1.75 9.8875 1.75 7C1.75 4.1125 4.1125 1.75 7 1.75C9.8875 1.75 12.25 4.1125 12.25 7C12.25 9.8875 9.8875 12.25 7 12.25Z', fill='white', fill-opacity='0.5')
                                        path(d='M7.875 3.5H6.125V7.875H10.5V6.125H7.875V3.5Z', fill='white', fill-opacity='0.5')
                                    span Open Now · 8PM - 2AM

                                p
                                    svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M7 0C3.5875 0 0.875 2.7125 0.875 6.125C0.875 7.7875 1.4875 9.3625 2.7125 10.5C2.8 10.5875 6.3 13.7375 6.3875 13.825C6.7375 14.0875 7.2625 14.0875 7.525 13.825C7.6125 13.7375 11.2 10.5875 11.2 10.5C12.425 9.3625 13.0375 7.7875 13.0375 6.125C13.125 2.7125 10.4125 0 7 0ZM7 7.875C6.0375 7.875 5.25 7.0875 5.25 6.125C5.25 5.1625 6.0375 4.375 7 4.375C7.9625 4.375 8.75 5.1625 8.75 6.125C8.75 7.0875 7.9625 7.875 7 7.875Z', fill='white', fill-opacity='0.5')
                                    span 15m · 36 Hàng Buồm, Hà Nội
                    .detail-bar__events
                        .home-title
                            h3 Upcoming Events
                        .list-events.owl-carousel.owl-theme
                            .list-events__item
                                a.events-item(href='detail-events.html')
                                    .events-item__poster
                                        img(src='images/events-poster.jpg')
                                    .events-item__content
                                        .events-item__blur(style='background-image: url(../images/events-poster.jpg);')
                                        .events-item__time
                                            svg(width='12', height='12', viewBox='0 0 12 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M11.25 1.5H9.75V0H8.25V1.5H6.75V0H5.25V1.5H3.75V0H2.25V1.5H0.75C0.33525 1.5 0 1.83525 0 2.25V11.25C0 11.6648 0.33525 12 0.75 12H11.25C11.6648 12 12 11.6648 12 11.25V2.25C12 1.83525 11.6648 1.5 11.25 1.5ZM10.5 10.5H1.5V3.75H10.5V10.5Z', fill='#47FF43')
                                                path(d='M4.5 5.25H3V6.75H4.5V5.25Z', fill='#47FF43')
                                                path(d='M6.75 5.25H5.25V6.75H6.75V5.25Z', fill='#47FF43')
                                                path(d='M4.5 7.5H3V9H4.5V7.5Z', fill='#47FF43')
                                                path(d='M6.75 7.5H5.25V9H6.75V7.5Z', fill='#47FF43')
                                                path(d='M9 5.25H7.5V6.75H9V5.25Z', fill='#47FF43')
                                                path(d='M9 7.5H7.5V9H9V7.5Z', fill='#47FF43')
                                            span 21:00 Hôm nay
                                        p.events-item__name Buffet Drinks Party BRay & Pharreal Phuong
                            .list-events__item
                                a.events-item(href='detail-events.html')
                                    .events-item__poster
                                        img(src='images/events-poster.jpg')
                                    .events-item__content
                                        .events-item__blur(style='background-image: url(../images/events-poster.jpg);')
                                        .events-item__time
                                            svg(width='12', height='12', viewBox='0 0 12 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M11.25 1.5H9.75V0H8.25V1.5H6.75V0H5.25V1.5H3.75V0H2.25V1.5H0.75C0.33525 1.5 0 1.83525 0 2.25V11.25C0 11.6648 0.33525 12 0.75 12H11.25C11.6648 12 12 11.6648 12 11.25V2.25C12 1.83525 11.6648 1.5 11.25 1.5ZM10.5 10.5H1.5V3.75H10.5V10.5Z', fill='#47FF43')
                                                path(d='M4.5 5.25H3V6.75H4.5V5.25Z', fill='#47FF43')
                                                path(d='M6.75 5.25H5.25V6.75H6.75V5.25Z', fill='#47FF43')
                                                path(d='M4.5 7.5H3V9H4.5V7.5Z', fill='#47FF43')
                                                path(d='M6.75 7.5H5.25V9H6.75V7.5Z', fill='#47FF43')
                                                path(d='M9 5.25H7.5V6.75H9V5.25Z', fill='#47FF43')
                                                path(d='M9 7.5H7.5V9H9V7.5Z', fill='#47FF43')
                                            span 21:00 Hôm nay
                                        p.events-item__name Buffet Drinks Party BRay & Pharreal Phuong
                    .detail-bar__booking
                        .home-title
                            h3 Booking Menu
                        .list-offers
                            .list-offers__item
                                .life-card
                                    .life-card__img
                                        img(src='images/offers-banner.jpg')
                                        .life-card__sale -30%
                                        .life-card__gradient
                                        .life-card__badge
                                            .badge.badge_red
                                                .i-dots
                                                span hot deal
                                            .badge.badge_yellow
                                                .i-dots
                                                span 129 booked
                                    .life-card__content
                                        p.life-card__name Luxury Package
                                        p.life-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        p.life-card__address
                                            svg(width='12', height='13', viewBox='0 0 12 13', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M6 0.470581C3.075 0.470581 0.75 2.79558 0.75 5.72058C0.75 7.14558 1.275 8.49558 2.325 9.47058C2.4 9.54558 5.4 12.2456 5.475 12.3206C5.775 12.5456 6.225 12.5456 6.45 12.3206C6.525 12.2456 9.6 9.54558 9.6 9.47058C10.65 8.49558 11.175 7.14558 11.175 5.72058C11.25 2.79558 8.925 0.470581 6 0.470581ZM6 7.22058C5.175 7.22058 4.5 6.54558 4.5 5.72058C4.5 4.89558 5.175 4.22058 6 4.22058C6.825 4.22058 7.5 4.89558 7.5 5.72058C7.5 6.54558 6.825 7.22058 6 7.22058Z', fill='#6A28FA')
                                            span 1900 Nightclub · 15m
                                        .life-card__bottom
                                            .life-card__price
                                                p 1.200.000đ
                                                strike 2.400.000đ
                                            .life-card__btn
                                                a.btn.btn-purple.btn-round(href='#' data-toggle="modal" data-target="#orderPopup") MUA
                            .list-offers__item
                                .life-card
                                    .life-card__img
                                        img(src='images/offers-banner.jpg')
                                        .life-card__sale -30%
                                        .life-card__gradient
                                        .life-card__badge
                                            .badge.badge_red
                                                .i-dots
                                                span hot deal
                                            .badge.badge_yellow
                                                .i-dots
                                                span 129 booked
                                    .life-card__content
                                        p.life-card__name Luxury Package
                                        p.life-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        p.life-card__address
                                            svg(width='12', height='13', viewBox='0 0 12 13', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M6 0.470581C3.075 0.470581 0.75 2.79558 0.75 5.72058C0.75 7.14558 1.275 8.49558 2.325 9.47058C2.4 9.54558 5.4 12.2456 5.475 12.3206C5.775 12.5456 6.225 12.5456 6.45 12.3206C6.525 12.2456 9.6 9.54558 9.6 9.47058C10.65 8.49558 11.175 7.14558 11.175 5.72058C11.25 2.79558 8.925 0.470581 6 0.470581ZM6 7.22058C5.175 7.22058 4.5 6.54558 4.5 5.72058C4.5 4.89558 5.175 4.22058 6 4.22058C6.825 4.22058 7.5 4.89558 7.5 5.72058C7.5 6.54558 6.825 7.22058 6 7.22058Z', fill='#6A28FA')
                                            span 1900 Nightclub · 15m
                                        .life-card__bottom
                                            .life-card__price
                                                p 1.200.000đ
                                                strike 2.400.000đ
                                            .life-card__btn
                                                a.btn.btn-purple.btn-round(href='#' data-toggle="modal" data-target="#orderPopup") MUA
                    .detail-bar__info
                        .home-title
                            h3 Information
                        .list-group
                            .list-group__item
                                .list-group__title Music type
                                .list-group__text
                                    svg(width='15', height='16', viewBox='0 0 15 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M14 0H5C4.4 0 4 0.4 4 1V10.2C3.7 10.1 3.4 10 3 10C1.3 10 0 11.3 0 13C0 14.7 1.3 16 3 16C4.7 16 6 14.7 6 13V5H13V8.2C12.7 8.1 12.4 8 12 8C10.3 8 9 9.3 9 11C9 12.7 10.3 14 12 14C13.7 14 15 12.7 15 11V1C15 0.4 14.6 0 14 0Z', fill='#370B7F')
                                    span EDM, Future Bass, Future House...
                            .list-group__item
                                .list-group__title What you can wear
                                .list-group__text
                                    svg(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M8 0C3.6 0 0 3.6 0 8C0 12.4 3.6 16 8 16C12.4 16 16 12.4 16 8C16 3.6 12.4 0 8 0ZM7 11.4L3.6 8L5 6.6L7 8.6L11 4.6L12.4 6L7 11.4Z', fill='#29D930')
                                    span Dress Shoes, Dress Shirts

                            .list-group__item
                                .list-group__title What you can’t wear
                                .list-group__text
                                    svg(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M8 0C3.6 0 0 3.6 0 8C0 12.4 3.6 16 8 16C12.4 16 16 12.4 16 8C16 3.6 12.4 0 8 0ZM11.5 10.1L10.1 11.5L8 9.4L5.9 11.5L4.5 10.1L6.6 8L4.5 5.9L5.9 4.5L8 6.6L10.1 4.5L11.5 5.9L9.4 8L11.5 10.1Z', fill='#FF3B30')
                                    span Shorts, Flip Flops
                        .view-360
                            .detail-title
                                h4
                                    svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M12 9C11.4067 9 10.8266 9.17595 10.3333 9.50559C9.83994 9.83524 9.45543 10.3038 9.22836 10.8519C9.0013 11.4001 8.94189 12.0033 9.05765 12.5853C9.1734 13.1672 9.45912 13.7018 9.87868 14.1213C10.2982 14.5409 10.8328 14.8266 11.4147 14.9424C11.9967 15.0581 12.5999 14.9987 13.1481 14.7716C13.6962 14.5446 14.1648 14.1601 14.4944 13.6667C14.8241 13.1734 15 12.5933 15 12C15 11.2044 14.6839 10.4413 14.1213 9.87868C13.5587 9.31607 12.7957 9 12 9Z', fill='#6A28FA')
                                        path(d='M24 12C24 9.421 21.6 7.173 18.041 5.959C16.827 2.4 14.579 0 12 0C8.134 0 5 5.373 5 12C4.99859 13.226 5.11006 14.4495 5.333 15.655C3.243 14.675 2 13.3 2 12C2.03031 11.5818 2.14363 11.1738 2.33336 10.7998C2.52308 10.4259 2.7854 10.0935 3.105 9.822C3.20443 8.87331 3.36983 7.9327 3.6 7.007C1.379 8.277 0 10.044 0 12C0 14.579 2.4 16.827 5.959 18.041C7.173 21.6 9.421 24 12 24C13.956 24 15.723 22.621 16.993 20.4C16.0672 20.6288 15.1266 20.7929 14.178 20.891C13.9069 21.2113 13.5746 21.4744 13.2007 21.6648C12.8267 21.8552 12.4185 21.9692 12 22C10.7 22 9.325 20.757 8.345 18.667C9.55053 18.8899 10.774 19.0014 12 19C18.627 19 24 15.866 24 12ZM7 12C7 6.106 9.635 2 12 2C13.3 2 14.675 3.243 15.655 5.333C14.4495 5.11006 13.226 4.99859 12 5C11.592 5 11.1893 5.012 10.792 5.036C10.3531 5.68582 10.0046 6.39229 9.756 7.136C10.5006 7.0458 11.25 7.00039 12 7C13.4996 6.99363 14.9938 7.17982 16.446 7.554C16.8202 9.00618 17.0064 10.5004 17 12C16.9999 12.75 16.9549 13.4994 16.865 14.244C17.6087 13.9954 18.3152 13.6469 18.965 13.208C18.9883 12.81 19 12.4073 19 12C19.0014 10.774 18.8899 9.55053 18.667 8.345C20.757 9.325 22 10.7 22 12C22 14.365 17.894 17 12 17C10.5004 17.0064 9.00618 16.8202 7.554 16.446C7.17982 14.9938 6.99363 13.4996 7 12Z', fill='#6A28FA')
                                    span 360&#176; View
                            .view-360__slide.owl-carousel.owl-theme
                                .view-360__slide__item
                                    .item-360
                                        img(src='images/bar-banner.jpg')
                                .view-360__slide__item
                                    .item-360
                                        img(src='images/bar-banner.jpg')
                                .view-360__slide__item
                                    .item-360
                                        img(src='images/bar-banner.jpg')
                                .view-360__slide__item
                                    .item-360
                                        img(src='images/bar-banner.jpg')
                        .view-map
                            .detail-title
                                h4
                                    svg(width='18', height='23', viewBox='0 0 18 23', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M17 9C17 13.9 9 22 9 22C9 22 1 13.9 1 9C1 3.9 5.1 1 9 1C12.9 1 17 3.9 17 9Z', stroke='#6A28FA', stroke-width='2', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                        path(d='M9 12C10.6569 12 12 10.6569 12 9C12 7.34315 10.6569 6 9 6C7.34315 6 6 7.34315 6 9C6 10.6569 7.34315 12 9 12Z', stroke='#6A28FA', stroke-width='2', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                    span Map
                            .view-map__content
                                .view-map__iframe
                                    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.9396084366467!2d105.84974741404599!3d21.035102285994878!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135abbf5c6e7ce3%3A0xcfa017611623993c!2s1900+Club+Hanoi!5e0!3m2!1sen!2s!4v1557236876952!5m2!1sen!2s' allowfullscreen='')
                                .view-map__tab
                                    .view-map__tab__item
                                        svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M17.109 4.5H20.5C22.157 4.5 23.5 5.843 23.5 7.5V20.5C23.5 22.157 22.157 23.5 20.5 23.5H4.5C2.843 23.5 1.5 22.157 1.5 20.5V7.5C1.5 5.843 2.843 4.5 4.5 4.5H7.891', stroke='white', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                            path(d='M19.5 10.5V19.5H5.5V10.5', stroke='white', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                            path(d='M17.5 6.5C17.5 9.586 12.5 14.625 12.5 14.625C12.5 14.625 7.5 9.586 7.5 6.5C7.5 3.336 10.084 1.5 12.5 1.5C14.916 1.5 17.5 3.336 17.5 6.5Z', stroke='white', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                            path(d='M12.5 7.5C13.0523 7.5 13.5 7.05228 13.5 6.5C13.5 5.94772 13.0523 5.5 12.5 5.5C11.9477 5.5 11.5 5.94772 11.5 6.5C11.5 7.05228 11.9477 7.5 12.5 7.5Z', fill='white')
                                        span Xem bản đồ
                                    .view-map__tab__item
                                        svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M11.75 22.5C5.81294 22.5 1 17.6871 1 11.75C1 5.81294 5.81294 1 11.75 1C17.6871 1 22.5 5.81294 22.5 11.75C22.5 17.6871 17.6871 22.5 11.75 22.5Z', stroke='white', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                            path(d='M12.7273 17.6364L10.7727 12.75L5.88638 10.7955L15.1705 8.35229L12.7273 17.6364Z', stroke='white', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                        span Chỉ đường
                        .life-gallery
                            .detail-title
                                h4
                                    svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M19 23H5C2.791 23 1 21.209 1 19V5C1 2.791 2.791 1 5 1H19C21.209 1 23 2.791 23 5V19C23 21.209 21.209 23 19 23Z', stroke='#6A28FA', stroke-width='2', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                        path(d='M12 12C14.2091 12 16 10.2091 16 8C16 5.79086 14.2091 4 12 4C9.79086 4 8 5.79086 8 8C8 10.2091 9.79086 12 12 12Z', stroke='#6A28FA', stroke-width='2', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                        path(d='M1 15H23', stroke='#6A28FA', stroke-width='2', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                        path(d='M7 19H17', stroke='#6A28FA', stroke-width='2', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                        path(d='M5 6C5.55228 6 6 5.55228 6 5C6 4.44772 5.55228 4 5 4C4.44772 4 4 4.44772 4 5C4 5.55228 4.44772 6 5 6Z', fill='#6A28FA')
                                    span Photos
                            .life-gallery__content
                                .life-gallery__left
                                    .life-gallery__item
                                        img(src='images/gallery-1.jpg')
                                .life-gallery__right
                                    .life-gallery__item
                                        img(src='images/gallery-2.jpg')
                                    .life-gallery__item
                                        img(src='images/gallery-3.jpg')
                                .life-gallery__badge
                                    .life-gallery__badge__blur
                                    svg(width='19', height='13', viewBox='0 0 19 13', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(fill-rule='evenodd', clip-rule='evenodd', d='M17.3067 2.76716C17.7383 2.76716 18.0871 3.11362 18.0871 3.5427V12.224C18.0871 12.6521 17.7383 12.9995 17.3067 12.9995H4.61878C4.18721 12.9995 3.83737 12.6521 3.83737 12.224V3.5427C3.83737 3.11362 4.18721 2.76716 4.61878 2.76716H17.3067ZM15.1359 0.776047V1.5924H3.39085C2.95928 1.5924 2.61143 1.93985 2.61143 2.36794V10.2319H1.66756C1.23599 10.2319 0.887146 9.88541 0.887146 9.45632V0.776047C0.887146 0.346962 1.23599 -0.000488281 1.66756 -0.000488281H14.3565C14.7871 -0.000488281 15.1359 0.346962 15.1359 0.776047Z', fill='white')
                                    span 32 photos
                        .view-social
                            .detail-title
                                h4
                                    svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M12 23C15.9 21.1 18 16.9 18 12C18 7.1 15.9 2.9 12 1', stroke='#6A28FA', stroke-width='2', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                        path(d='M12 23C8.1 21.1 6 16.9 6 12C6 7.1 8.1 2.9 12 1', stroke='#6A28FA', stroke-width='2', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                        path(d='M12 23V22V2V1', stroke='#6A28FA', stroke-width='2', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                        path(d='M1 12H23', stroke='#6A28FA', stroke-width='2', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                        path(d='M12 23C18.0751 23 23 18.0751 23 12C23 5.92487 18.0751 1 12 1C5.92487 1 1 5.92487 1 12C1 18.0751 5.92487 23 12 23Z', stroke='#6A28FA', stroke-width='2', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                    span Social
                            .view-social__group
                                a.view-social__item
                                    svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M23 24C23.5523 24 24 23.5523 24 23V1C24 0.447715 23.5523 0 23 0H1C0.447715 0 0 0.447715 0 1V23C0 23.5523 0.447715 24 1 24H23Z', fill='#39579A')
                                        path(d='M12.7596 23.9999V14.4999H9.5V10.9999H12.7596V8.41259C12.7596 5.3127 14.6529 3.62476 17.4182 3.62476C18.7428 3.62476 19.8812 3.72338 20.213 3.76746V7.00702L18.2951 7.00789C16.7912 7.00789 16.5 7.72253 16.5 8.77122V10.9999H20L19.5 14.4999H16.5V23.9999H12.7596Z', fill='white')
                                    span facebook.com/1900.hn
                                a.view-social__item
                                    svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M12 0C8.741 0 8.3325 0.014 7.0525 0.072C5.1025 0.161 3.3895 0.6385 2.014 2.014C0.639 3.389 0.161 5.1015 0.072 7.0525C0.014 8.3325 0 8.741 0 12C0 15.259 0.014 15.6675 0.072 16.9475C0.161 18.8975 0.6385 20.6105 2.014 21.986C3.389 23.361 5.1015 23.839 7.0525 23.928C8.3325 23.986 8.741 24 12 24C15.259 24 15.6675 23.986 16.9475 23.928C18.897 23.839 20.6105 23.3615 21.986 21.986C23.361 20.611 23.839 18.8985 23.928 16.9475C23.986 15.6675 24 15.259 24 12C24 8.741 23.986 8.3325 23.928 7.0525C23.839 5.1025 23.3615 3.3895 21.986 2.014C20.611 0.639 18.8985 0.161 16.9475 0.072C15.6675 0.014 15.259 0 12 0Z', fill='#E02D69')
                                        path(d='M12 5.4415C14.136 5.4415 14.389 5.4495 15.2325 5.488C16.143 5.5295 16.988 5.712 17.638 6.362C18.288 7.012 18.4705 7.857 18.512 8.7675C18.5505 9.611 18.5585 9.864 18.5585 12C18.5585 14.136 18.5505 14.389 18.512 15.2325C18.4705 16.143 18.288 16.988 17.638 17.638C16.988 18.288 16.143 18.4705 15.2325 18.512C14.389 18.5505 14.136 18.5585 12 18.5585C9.864 18.5585 9.611 18.5505 8.7675 18.512C7.857 18.4705 7.012 18.288 6.362 17.638C5.712 16.988 5.5295 16.143 5.488 15.2325C5.4495 14.389 5.4415 14.136 5.4415 12C5.4415 9.864 5.4495 9.611 5.488 8.7675C5.5295 7.857 5.712 7.012 6.362 6.362C7.012 5.712 7.857 5.5295 8.7675 5.488C9.611 5.4495 9.864 5.4415 12 5.4415ZM12 4C9.8275 4 9.555 4.009 8.7015 4.048C7.4015 4.1075 6.2595 4.426 5.3425 5.3425C4.426 6.259 4.1075 7.401 4.048 8.7015C4.009 9.555 4 9.8275 4 12C4 14.1725 4.009 14.445 4.048 15.2985C4.1075 16.5985 4.426 17.7405 5.3425 18.6575C6.259 19.574 7.401 19.8925 8.7015 19.952C9.555 19.991 9.8275 20 12 20C14.1725 20 14.445 19.991 15.2985 19.952C16.5985 19.8925 17.7405 19.574 18.6575 18.6575C19.574 17.741 19.8925 16.599 19.952 15.2985C19.991 14.445 20 14.1725 20 12C20 9.8275 19.991 9.555 19.952 8.7015C19.8925 7.4015 19.574 6.2595 18.6575 5.3425C17.741 4.426 16.599 4.1075 15.2985 4.048C14.445 4.009 14.1725 4 12 4Z', fill='white')
                                        path(d='M12 7.89209C9.731 7.89209 7.892 9.73159 7.892 12.0001C7.892 14.2686 9.7315 16.1081 12 16.1081C14.2685 16.1081 16.108 14.2686 16.108 12.0001C16.108 9.73159 14.269 7.89209 12 7.89209ZM12 14.6666C10.527 14.6666 9.3335 13.4726 9.3335 12.0001C9.3335 10.5271 10.5275 9.33359 12 9.33359C13.473 9.33359 14.6665 10.5276 14.6665 12.0001C14.6665 13.4731 13.473 14.6666 12 14.6666Z', fill='white')
                                        path(d='M16.2705 8.68953C16.8007 8.68953 17.2305 8.25972 17.2305 7.72953C17.2305 7.19934 16.8007 6.76953 16.2705 6.76953C15.7403 6.76953 15.3105 7.19934 15.3105 7.72953C15.3105 8.25972 15.7403 8.68953 16.2705 8.68953Z', fill='white')
                                    span instagram.com/1900.hn
                    .detail-bar__relate
                        .home-title
                            h3 Relate
                        .list-bar.owl-carousel.owl-theme
                            .list-bar__item
                                .bar-item
                                    .bar-item__img
                                        img(src='images/bar-item.jpg')
                                    .bar-item__sale -50%
                                    .bar-item__gradient
                                    .bar-item__content
                                        p.p1 1900
                                        p.p2
                                            span Bar
                                            | · 15m · $$
                                        .bar-item__state
                                            p.p3 Open
                                            .dropdown
                                                button.dropdown-toggle(type='button' data-toggle='dropdown')
                                                    svg(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        g( clip-path='url(#clip0)')
                                                            path(d='M8 6C6.89543 6 6 6.89543 6 8C6 9.10457 6.89543 10 8 10C9.10457 10 10 9.10457 10 8C10 6.89543 9.10457 6 8 6Z', fill='white')
                                                            path(d='M14 6C12.8954 6 12 6.89543 12 8C12 9.10457 12.8954 10 14 10C15.1046 10 16 9.10457 16 8C16 6.89543 15.1046 6 14 6Z', fill='white')
                                                            path(d='M2 6C0.895429 6 -1.22508e-06 6.89543 -1.12852e-06 8C-1.03196e-06 9.10457 0.89543 10 2 10C3.10457 10 4 9.10457 4 8C4 6.89543 3.10457 6 2 6Z', fill='white')
                                                        defs
                                                            clippath#clip0
                                                                rect(width='16', height='16', fill='white', transform='translate(16 16) rotate(180)')
                                                .dropdown-menu
                                                    a.dropdown-item(href='#')
                                                        svg(width='16', height='15', viewBox='0 0 16 15', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                            path(d='M14.1867 2.20001C13.8328 1.82064 13.4048 1.51813 12.929 1.31129C12.4533 1.10445 11.9401 0.997711 11.4213 0.997711C10.9026 0.997711 10.3894 1.10445 9.91363 1.31129C9.4379 1.51813 9.00981 1.82064 8.656 2.20001C8.39308 2.48545 8.17219 2.8069 8 3.15468C7.82772 2.80663 7.60635 2.48512 7.34266 2.20001C6.98864 1.82099 6.56049 1.51879 6.08478 1.31218C5.60907 1.10557 5.09597 0.998953 4.57733 0.998953C4.05869 0.998953 3.54559 1.10557 3.06988 1.31218C2.59417 1.51879 2.16602 1.82099 1.812 2.20001C1.07628 2.9867 0.666992 4.02357 0.666992 5.10068C0.666992 6.17779 1.07628 7.21465 1.812 8.00134L8 14.3333L14.1867 8.00268C14.9242 7.21666 15.3348 6.17923 15.3348 5.10135C15.3348 4.02346 14.9242 2.98603 14.1867 2.20001Z', fill='#FF3B30')
                                                        span Yêu thích
                                                    a.dropdown-item(href='#')
                                                        svg(width='16', height='14', viewBox='0 0 16 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                            path(d='M8 4C2.8 4 0 7.8 0 14C1.5 11.6 2.7 10 8 10V14L16 7L8 0V4Z', fill='#8F8E94')
                                                        span Chia sẻ
                                    a.bar-item__link(href='detail-bar.html')
                            .list-bar__item
                                .bar-item
                                    .bar-item__img
                                        img(src='images/bar-item2.jpg')
                                    .bar-item__sale -50%
                                    .bar-item__gradient
                                    .bar-item__content
                                        p.p1 SI Cuisine & Mixology
                                        p.p2
                                            span Lounge
                                            | · 15m · $$$
                                        .bar-item__state
                                            p.p3 Free giờ hát
                                            .dropdown
                                                button.dropdown-toggle(type='button' data-toggle='dropdown')
                                                    svg(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        g( clip-path='url(#clip0)')
                                                            path(d='M8 6C6.89543 6 6 6.89543 6 8C6 9.10457 6.89543 10 8 10C9.10457 10 10 9.10457 10 8C10 6.89543 9.10457 6 8 6Z', fill='white')
                                                            path(d='M14 6C12.8954 6 12 6.89543 12 8C12 9.10457 12.8954 10 14 10C15.1046 10 16 9.10457 16 8C16 6.89543 15.1046 6 14 6Z', fill='white')
                                                            path(d='M2 6C0.895429 6 -1.22508e-06 6.89543 -1.12852e-06 8C-1.03196e-06 9.10457 0.89543 10 2 10C3.10457 10 4 9.10457 4 8C4 6.89543 3.10457 6 2 6Z', fill='white')
                                                        defs
                                                            clippath#clip0
                                                                rect(width='16', height='16', fill='white', transform='translate(16 16) rotate(180)')
                                                .dropdown-menu
                                                    a.dropdown-item(href='#')
                                                        svg(width='16', height='15', viewBox='0 0 16 15', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                            path(d='M14.1867 2.20001C13.8328 1.82064 13.4048 1.51813 12.929 1.31129C12.4533 1.10445 11.9401 0.997711 11.4213 0.997711C10.9026 0.997711 10.3894 1.10445 9.91363 1.31129C9.4379 1.51813 9.00981 1.82064 8.656 2.20001C8.39308 2.48545 8.17219 2.8069 8 3.15468C7.82772 2.80663 7.60635 2.48512 7.34266 2.20001C6.98864 1.82099 6.56049 1.51879 6.08478 1.31218C5.60907 1.10557 5.09597 0.998953 4.57733 0.998953C4.05869 0.998953 3.54559 1.10557 3.06988 1.31218C2.59417 1.51879 2.16602 1.82099 1.812 2.20001C1.07628 2.9867 0.666992 4.02357 0.666992 5.10068C0.666992 6.17779 1.07628 7.21465 1.812 8.00134L8 14.3333L14.1867 8.00268C14.9242 7.21666 15.3348 6.17923 15.3348 5.10135C15.3348 4.02346 14.9242 2.98603 14.1867 2.20001Z', fill='#FF3B30')
                                                        span Yêu thích
                                                    a.dropdown-item(href='#')
                                                        svg(width='16', height='14', viewBox='0 0 16 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                            path(d='M8 4C2.8 4 0 7.8 0 14C1.5 11.6 2.7 10 8 10V14L16 7L8 0V4Z', fill='#8F8E94')
                                                        span Chia sẻ
                                    a.bar-item__link(href='detail-bar.html')
        script(type='text/javascript' src="js/jquery-3.2.1.slim.min.js")
        script(type='text/javascript' src="js/popper.min.js")
        script(type='text/javascript' src="js/bootstrap.min.js")
        script(type='text/javascript' src="js/owl.carousel.min.js")
        script.
            $('.list-bar').owlCarousel({
                loop: true,
                nav: false,
                dots: false,
                autoWidth: true
            })
        script.
            $('.list-events').owlCarousel({
                loop: true,
                nav: false,
                dots: false,
                autoWidth: true
            })
        script.
            $('.view-360__slide').owlCarousel({
                loop: true,
                nav: false,
                dots: false,
                autoWidth: true
            })
        script.
            $('.package-slide').owlCarousel({
                loop: true,
                nav: false,
                items: 1
            })
        script.
            $(".icon-heart").click(function () {
                $(this).toggleClass('active');
            });

