- var page = "detail-bar";
doctype html
html(lang="vi")
    head
        title 9life
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        meta(name='format-detection', content='telephone=no')
        link(rel='shortcut icon', type='image/x-icon', href='images/logo-purple.png')

        link(rel="stylesheet" href="css/libs/bootstrap.min.css")
        link(rel="stylesheet" href="css/libs/owl.carousel.min.css")
        link(rel="stylesheet" href="css/libs/owl.theme.default.min.css")
        link(rel="stylesheet" href="css/styles.css")
    body(ontouchstart='')
        main.life-wrapper
            section.life-detail
                .detail-bar
                    .detail-header
                        .detail-header__left
                            a.detail-header__back(href='home.html')
                                i.fas.fa-arrow-left
                        .detail-header__right
                            .icon-round
                                .icon-round__item
                                    i.fas.fa-heart
                                .icon-round__item.btn-menu
                                    i.fas.fa-ellipsis-h
                    .detail-bar__banner
                        img(src='images/bar-banner.jpg')
                    .detail-bar__name
                        .home-profile
                            .home-profile__top
                                .home-profile__name
                                    p.p1 BAR
                                    p.p2 1900
                                    p.p3
                                        img(src='images/i-cup.svg')
                                        span available booking · $$$
                                .home-profile__avatar
                                    img(src='images/bar-logo.jpg')
                            .home-profile__info
                                p
                                    i.far.fa-clock
                                    span Open Now · 8PM - 2AM

                                p
                                    i.fas.fa-map-marker-alt
                                    span 15m · 36 Hàng Buồm, Hà Nội
                    .detail-bar__events
                        .home-title
                            h3 Upcoming Events
                        .list-events.owl-carousel.owl-theme
                            .list-events__item
                                a.events-item(href='events-detail.html')
                                    .events-item__poster
                                        img(src='images/events-poster.jpg')
                                    .events-item__content
                                        .events-item__time
                                            i.far.fa-calendar-alt
                                            span 21:00 Hôm nay
                                        p.events-item__name Buffet Drinks Party BRay & Pharreal Phuong
                                        p.events-item__address
                                            i.fas.fa-map-marker-alt
                                            span 1900 Nightclub · 15m
                            .list-events__item
                                a.events-item(href='events-detail.html')
                                    .events-item__poster
                                        img(src='images/events-poster.jpg')
                                    .events-item__content
                                        .events-item__time
                                            i.far.fa-calendar-alt
                                            span 21:00 Hôm nay
                                        p.events-item__name Buffet Drinks Party BRay & Pharreal Phuong
                                        p.events-item__address
                                            i.fas.fa-map-marker-alt
                                            span 1900 Nightclub · 15m
                            .list-events__item
                                a.events-item(href='events-detail.html')
                                    .events-item__poster
                                        img(src='images/events-poster.jpg')
                                    .events-item__content
                                        .events-item__time
                                            i.far.fa-calendar-alt
                                            span 21:00 Hôm nay
                                        p.events-item__name Buffet Drinks Party BRay & Pharreal Phuong
                                        p.events-item__address
                                            i.fas.fa-map-marker-alt
                                            span 1900 Nightclub · 15m
                            .list-events__item
                                a.events-item(href='events-detail.html')
                                    .events-item__poster
                                        img(src='images/events-poster.jpg')
                                    .events-item__content
                                        .events-item__time
                                            i.far.fa-calendar-alt
                                            span 21:00 Hôm nay
                                        p.events-item__name Buffet Drinks Party BRay & Pharreal Phuong
                                        p.events-item__address
                                            i.fas.fa-map-marker-alt
                                            span 1900 Nightclub · 15m
                    .detail-bar__booking
                        .home-title
                            h3 Booking Menu

                    .detail-bar__info
        script(type='text/javascript' src="js/jquery-3.2.1.slim.min.js")
        script(type='text/javascript' src="js/popper.min.js")
        script(type='text/javascript' src="js/bootstrap.min.js")
        script(type='text/javascript' src="js/owl.carousel.min.js")
        script.
            $('.list-events').owlCarousel({
                nav: false,
                dots: false,
                autoWidth: true,
                items: 2
            })



