- var page = "detail-event";
doctype html
html(lang="vi")
    head
        include jades/head.jade
    body(ontouchstart='')
        include jades/life-menu.jade
        include jades/life-search.jade
        main.life-wrapper
            include jades/header.jade
            section.life-detail
                .detail-event
                    .detail-event__banner
                        img(src='images/event-banner.jpg')
                    .detail-event__content
                        .container
                            .detail-event__info
                                .detail-event__time
                                    svg(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M15 2H13V0H11V2H9V0H7V2H5V0H3V2H1C0.447 2 0 2.447 0 3V15C0 15.553 0.447 16 1 16H15C15.553 16 16 15.553 16 15V3C16 2.447 15.553 2 15 2ZM14 14H2V5H14V14Z', fill='#6A28FA')
                                        path(d='M6 7H4V9H6V7Z', fill='#6A28FA')
                                        path(d='M9 7H7V9H9V7Z', fill='#6A28FA')
                                        path(d='M6 10H4V12H6V10Z', fill='#6A28FA')
                                        path(d='M9 10H7V12H9V10Z', fill='#6A28FA')
                                        path(d='M12 7H10V9H12V7Z', fill='#6A28FA')
                                        path(d='M12 10H10V12H12V10Z', fill='#6A28FA')
                                    p Ngày mai, 25 tháng 3
                                p.name Buffet Drinks Party:
                                    span BRay & Pharreal Phuong
                                p.hour 21:00 - 2:00
                            a.detail-event__address
                                svg(width='12', height='13', viewBox='0 0 12 13', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M6 0.470581C3.075 0.470581 0.75 2.79558 0.75 5.72058C0.75 7.14558 1.275 8.49558 2.325 9.47058C2.4 9.54558 5.4 12.2456 5.475 12.3206C5.775 12.5456 6.225 12.5456 6.45 12.3206C6.525 12.2456 9.6 9.54558 9.6 9.47058C10.65 8.49558 11.175 7.14558 11.175 5.72058C11.25 2.79558 8.925 0.470581 6 0.470581ZM6 7.22058C5.175 7.22058 4.5 6.54558 4.5 5.72058C4.5 4.89558 5.175 4.22058 6 4.22058C6.825 4.22058 7.5 4.89558 7.5 5.72058C7.5 6.54558 6.825 7.22058 6 7.22058Z', fill='#6A28FA')
                                span 1900 Nightclub
                            .detail-event__intro
                                p 💋💃🏻 Mở màn cho Buffet Drinks Party dành cho các nàng vào thứ 3 hàng tuần tại 1900 LE THÉÂTRE là bữa tiệc âm nhạc hết nấc cùng 2 anh chàng điển trai: rapper B Ray chủ nhân của loạt hit như "Con Trai Cưng", "Ex's Hate Me" và DJ/Nhà sản xuất tài năng Pharreal Phuong vào thứ 3, 26/3 ✨💝
                                    span Xem thêm
                        .detail-event__booking
                            .home-title
                                h3 Booking Menu
                            .list-offers.owl-carousel.owl-theme
                                .list-offers__item
                                    .life-card
                                        .life-card__img
                                            img(src='images/offers-banner.jpg')
                                            .life-card__sale -30%
                                            .life-card__gradient
                                            .life-card__badge
                                                .badge.badge_red
                                                    .i-dots
                                                    span hot deal
                                                .badge.badge_yellow
                                                    .i-dots
                                                    span 129 booked
                                        .life-card__content
                                            p.life-card__name Luxury Package
                                            p.life-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            p.life-card__address
                                                svg(width='12', height='13', viewBox='0 0 12 13', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M6 0.470581C3.075 0.470581 0.75 2.79558 0.75 5.72058C0.75 7.14558 1.275 8.49558 2.325 9.47058C2.4 9.54558 5.4 12.2456 5.475 12.3206C5.775 12.5456 6.225 12.5456 6.45 12.3206C6.525 12.2456 9.6 9.54558 9.6 9.47058C10.65 8.49558 11.175 7.14558 11.175 5.72058C11.25 2.79558 8.925 0.470581 6 0.470581ZM6 7.22058C5.175 7.22058 4.5 6.54558 4.5 5.72058C4.5 4.89558 5.175 4.22058 6 4.22058C6.825 4.22058 7.5 4.89558 7.5 5.72058C7.5 6.54558 6.825 7.22058 6 7.22058Z', fill='#6A28FA')
                                                span 1900 Nightclub · 15m
                                            .life-card__bottom
                                                .life-card__price
                                                    p 1.200.000đ
                                                    strike 2.400.000đ
                                                .life-card__btn
                                                    a.btn.btn-purple.btn-round(href='#' data-toggle="modal" data-target="#bookModal") MUA
                                .list-offers__item
                                    .life-card
                                        .life-card__img
                                            img(src='images/offers-banner.jpg')
                                            .life-card__sale -30%
                                            .life-card__gradient
                                            .life-card__badge
                                                .badge.badge_red
                                                    .i-dots
                                                    span hot deal
                                                .badge.badge_yellow
                                                    .i-dots
                                                    span 129 booked
                                        .life-card__content
                                            p.life-card__name Luxury Package
                                            p.life-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            p.life-card__address
                                                svg(width='12', height='13', viewBox='0 0 12 13', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M6 0.470581C3.075 0.470581 0.75 2.79558 0.75 5.72058C0.75 7.14558 1.275 8.49558 2.325 9.47058C2.4 9.54558 5.4 12.2456 5.475 12.3206C5.775 12.5456 6.225 12.5456 6.45 12.3206C6.525 12.2456 9.6 9.54558 9.6 9.47058C10.65 8.49558 11.175 7.14558 11.175 5.72058C11.25 2.79558 8.925 0.470581 6 0.470581ZM6 7.22058C5.175 7.22058 4.5 6.54558 4.5 5.72058C4.5 4.89558 5.175 4.22058 6 4.22058C6.825 4.22058 7.5 4.89558 7.5 5.72058C7.5 6.54558 6.825 7.22058 6 7.22058Z', fill='#6A28FA')
                                                span 1900 Nightclub · 15m
                                            .life-card__bottom
                                                .life-card__price
                                                    p 1.200.000đ
                                                    strike 2.400.000đ
                                                .life-card__btn
                                                    a.btn.btn-purple.btn-round(href='#' data-toggle="modal" data-target="#bookModal") MUA
        include jades/bookModal.jade
        script(type='text/javascript' src="js/jquery-3.2.1.slim.min.js")
        script(type='text/javascript' src="js/popper.min.js")
        script(type='text/javascript' src="js/bootstrap.min.js")
        script(type='text/javascript' src="js/owl.carousel.min.js")
        script.
            $(".life-header__search").click(function () {
                $('body').addClass('open-search');
            });
            $(".p-cancel").click(function () {
                $('body').removeClass('open-search');
            });
        script.
            $(".life-header__menu").click(function () {
                $('body').addClass('open-menu');
            });
            $(".life-backdrop").click(function () {
                $('body').removeClass('open-menu');
            });
        script.
            $('.list-offers').owlCarousel({
                loop: true,
                nav: false,
                dots: false,
                autoWidth: true
            })
        script.
            $('.list-package').owlCarousel({
                nav: false,
                dots: true,
                items: 1
            })
