- var page = "detail-booking";
doctype html
html(lang="vi")
    head
        title 9life
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        meta(name='format-detection', content='telephone=no')
        link(rel='shortcut icon', type='image/x-icon', href='images/logo-purple.png')

        link(rel="stylesheet" href="css/libs/bootstrap.min.css")
        link(rel="stylesheet" href="css/styles.css")

    body(ontouchstart='')
        include jades/life-menu.jade
        main.life-wrapper
            include jades/header.jade
            section.life-booking
                .detail-booking
                    .container
                        .booking-box
                            .booking-box__header
                                svg.svg-bg(viewBox='0 0 343 65', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(fill-rule='evenodd', clip-rule='evenodd', d='M10 0C4.47715 0 0 4.47715 0 10V62L3.83391 64.9868L7.21248 62.3548C7.45615 62.1645 7.87948 62.1645 8.12404 62.3548L11.4937 64.9799L14.8634 62.3548C15.1071 62.1645 15.5304 62.1645 15.7741 62.3548L19.1437 64.9799L22.5134 62.3548C22.7571 62.1645 23.1804 62.1645 23.4241 62.3548L26.7938 64.9799L30.1635 62.3548C30.4071 62.1645 30.8305 62.1645 31.0741 62.3548L34.4438 64.9799L37.8135 62.3548C38.0572 62.1645 38.4805 62.1645 38.7242 62.3548L42.0938 64.9799L45.4635 62.3548C45.7072 62.1645 46.1305 62.1645 46.3742 62.3548L49.7439 64.9799L53.1135 62.3548C53.3572 62.1645 53.7805 62.1645 54.0242 62.3548L57.3939 64.9799L60.7636 62.3548C61.0072 62.1645 61.4306 62.1645 61.6742 62.3548L65.0439 64.9799L68.4136 62.3548C68.6573 62.1645 69.0806 62.1645 69.3243 62.3548L72.6939 64.9799L76.0636 62.3548C76.3073 62.1645 76.7306 62.1645 76.9743 62.3548L80.344 64.9799L83.7136 62.3548C83.9573 62.1645 84.3806 62.1645 84.6243 62.3548L87.994 64.9799L91.3637 62.3548C91.6073 62.1645 92.0307 62.1645 92.2743 62.3548L95.644 64.9799L99.0137 62.3548C99.2574 62.1645 99.6807 62.1645 99.9244 62.3548L103.294 64.9799L106.664 62.3548C106.907 62.1645 107.331 62.1645 107.574 62.3548L110.734 64.816L113.894 62.3548C114.138 62.1645 114.561 62.1645 114.805 62.3548L118.174 64.9799L121.544 62.3548C121.788 62.1645 122.211 62.1645 122.455 62.3548L125.824 64.9799L129.194 62.3548C129.438 62.1645 129.861 62.1645 130.105 62.3548L133.474 64.9799L136.844 62.3548C137.088 62.1645 137.511 62.1645 137.755 62.3548L141.124 64.9799L144.494 62.3548C144.738 62.1645 145.161 62.1645 145.405 62.3548L148.774 64.9799L152.144 62.3548C152.388 62.1645 152.811 62.1645 153.055 62.3548L156.424 64.9799L159.794 62.3548C160.038 62.1645 160.461 62.1645 160.705 62.3548L164.075 64.9799L167.444 62.3548C167.688 62.1645 168.111 62.1645 168.355 62.3548L171.678 64.9435L175.002 62.3548C175.245 62.1645 175.669 62.1645 175.912 62.3548L179.282 64.9799L182.652 62.3548C182.895 62.1645 183.319 62.1645 183.562 62.3548L186.932 64.9799L190.302 62.3548C190.545 62.1645 190.969 62.1645 191.212 62.3548L194.582 64.9799L197.952 62.3548C198.195 62.1645 198.619 62.1645 198.863 62.3548L202.232 64.9799L205.602 62.3548C205.846 62.1645 206.269 62.1645 206.513 62.3548L209.882 64.9799L213.252 62.3548C213.496 62.1645 213.919 62.1645 214.163 62.3548L217.532 64.9799L220.902 62.3548C221.146 62.1645 221.569 62.1645 221.813 62.3548L225.182 64.9799L228.552 62.3548C228.796 62.1645 229.219 62.1645 229.463 62.3548L232.832 64.9799L236.202 62.3548C236.446 62.1645 236.869 62.1645 237.113 62.3548L240.482 64.9799L243.852 62.3548C244.096 62.1645 244.519 62.1645 244.763 62.3548L248.132 64.9799L251.502 62.3548C251.746 62.1645 252.169 62.1645 252.413 62.3548L255.782 64.9799L259.152 62.3548C259.396 62.1645 259.819 62.1645 260.063 62.3548L263.432 64.9799L266.802 62.3548C267.046 62.1645 267.469 62.1645 267.713 62.3548L271.082 64.9799L274.452 62.3548C274.696 62.1645 275.119 62.1645 275.363 62.3548L278.523 64.816L281.682 62.3548C281.926 62.1645 282.349 62.1645 282.593 62.3548L285.963 64.9799L289.332 62.3548C289.576 62.1645 289.999 62.1645 290.243 62.3548L293.613 64.9799L296.982 62.3548C297.226 62.1645 297.649 62.1645 297.893 62.3548L301.263 64.9799L304.632 62.3548C304.876 62.1645 305.299 62.1645 305.543 62.3548L308.913 64.9799L312.282 62.3548C312.526 62.1645 312.949 62.1645 313.193 62.3548L316.563 64.9799L319.932 62.3548C320.176 62.1645 320.599 62.1645 320.843 62.3548L324.213 64.9799L327.583 62.3548C327.826 62.1645 328.25 62.1645 328.493 62.3548L331.863 64.9799L335.233 62.3548C335.476 62.1645 335.9 62.1645 336.143 62.3548L339.369 64.8292L343 62.0007V10C343 4.47715 338.523 0 333 0H10Z', fill='url(#paint0_linear)')
                                    defs
                                        lineargradient#paint0_linear(x1='171.5', y1='-14.0805', x2='171.5', y2='73.7491', gradientUnits='userSpaceOnUse')
                                            stop(stop-color='#6A28FA')
                                            stop(offset='1', stop-color='#250054')

                                svg.svg-logo(viewBox='0 0 41 40', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M38.4505 12.2218C37.4425 9.83857 35.9999 7.69862 34.1626 5.86131C32.3256 4.02427 30.1856 2.58142 27.8021 1.57342C25.3337 0.529423 22.7127 0 20.012 0C17.3112 0 14.6902 0.529422 12.2218 1.5737C9.83857 2.58169 7.69862 4.02427 5.86131 5.86158C4.02427 7.69862 2.58169 9.83857 1.5737 12.2218C0.529423 14.6905 0 17.3115 0 20.012C0 22.7124 0.529423 25.3337 1.5737 27.8024C2.58169 30.1856 4.02427 32.3256 5.86158 34.1629C7.08481 35.3861 8.44245 36.4342 9.91691 37.296L12.589 33.6824C11.2801 32.971 10.0827 32.0757 9.01558 31.0089C7.58674 29.58 6.46495 27.9165 5.68181 26.0648C4.87146 24.1489 4.46051 22.1126 4.46051 20.0122C4.46051 17.9119 4.87146 15.8755 5.68181 13.9596C6.46495 12.108 7.58647 10.4447 9.01558 9.01558C10.4444 7.58674 12.108 6.46495 13.9596 5.68181C15.8755 4.87146 17.9119 4.46051 20.0122 4.46051C22.1126 4.46051 24.1489 4.87146 26.0649 5.68181C27.9165 6.46495 29.5798 7.58647 31.0089 9.01558C32.4377 10.4444 33.5595 12.108 34.3426 13.9596C35.6 16.9324 35.8287 20.264 35.1225 23.4043C34.374 26.7334 32.5658 29.2991 30.552 31.9635C29.8651 32.8723 29.1669 33.7728 28.4893 34.6887C28.0613 35.2673 27.6333 35.846 27.2053 36.4243L26.5349 37.3303C26.3782 37.542 26.2215 37.7539 26.0649 37.9656L25.0063 39.3963C25.9568 39.1517 26.89 38.8364 27.8027 38.4505C30.1859 37.4425 32.3258 35.9999 34.1632 34.1626C36.0002 32.3256 37.443 30.1856 38.451 27.8021C39.4953 25.3334 40.0247 22.7124 40.0247 20.0117C40.0247 17.311 39.4948 14.6905 38.4505 12.2218Z', fill='white')
                                    path(d='M29.3466 25.9412C29.9024 25.0528 30.3299 24.194 30.6306 23.1888C30.9387 22.1596 31.0927 21.0865 31.0927 20.0123C31.0927 18.5174 30.7994 17.0661 30.221 15.6985C29.6627 14.3788 28.8642 13.1941 27.8472 12.177C26.8304 11.1602 25.6453 10.3614 24.3256 9.80314C22.9581 9.22479 21.5067 8.93149 20.0119 8.93149C18.5171 8.93149 17.0657 9.22479 15.6982 9.80314C14.3785 10.3614 13.1937 11.16 12.1767 12.177C11.1599 13.1941 10.3611 14.3788 9.8028 15.6985C9.22445 17.0661 8.93115 18.5174 8.93115 20.0123C8.93115 21.5071 9.22445 22.9584 9.8028 24.326C10.3611 25.6457 11.1596 26.8304 12.1767 27.8475C13.1935 28.8643 14.3785 29.6631 15.6982 30.2214C17.0657 30.7997 18.5171 31.093 20.0119 31.093C20.0254 31.093 20.0389 31.0927 20.0523 31.0927L16.9657 35.2668C16.9654 35.2668 16.9651 35.2668 16.9649 35.2666L14.1022 39.1377C15.6919 39.6292 17.334 39.9181 19.0108 40C20.0897 38.5412 21.1686 37.0824 22.2478 35.6239C23.4829 33.954 24.7278 32.2915 25.9645 30.623C27.1105 29.077 28.3238 27.5756 29.3466 25.9412ZM25.3061 23.9881C25.12 24.235 24.9155 24.4706 24.6932 24.6932C23.4427 25.9437 21.7802 26.6322 20.0119 26.6322C18.2436 26.6322 16.5811 25.9437 15.3307 24.6932C14.0802 23.4428 13.3917 21.7803 13.3917 20.012C13.3917 18.2437 14.0802 16.5812 15.3307 15.3307C16.5811 14.0803 18.2436 13.3917 20.0119 13.3917C21.7802 13.3917 23.4427 14.0803 24.6932 15.3307C25.9436 16.5812 26.6322 18.2437 26.6322 20.012C26.6322 21.4251 26.1918 22.7704 25.3771 23.8922L25.3061 23.9881Z', fill='white')
                            .booking-box__body
                                .booking-box__top
                                    .booking-box__info
                                        .booking-box__name
                                            p.p1 1900 Nightclub
                                            p.p2
                                                svg(width='12', height='13', viewBox='0 0 12 13', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M6 0.470581C3.075 0.470581 0.75 2.79558 0.75 5.72058C0.75 7.14558 1.275 8.49558 2.325 9.47058C2.4 9.54558 5.4 12.2456 5.475 12.3206C5.775 12.5456 6.225 12.5456 6.45 12.3206C6.525 12.2456 9.6 9.54558 9.6 9.47058C10.65 8.49558 11.175 7.14558 11.175 5.72058C11.25 2.79558 8.925 0.470581 6 0.470581ZM6 7.22058C5.175 7.22058 4.5 6.54558 4.5 5.72058C4.5 4.89558 5.175 4.22058 6 4.22058C6.825 4.22058 7.5 4.89558 7.5 5.72058C7.5 6.54558 6.825 7.22058 6 7.22058Z', fill='#6A28FA')
                                                span 12 Hàng Buồm, Hoàn Kiếm , Hà Nội
                                        .booking-box__group
                                            p.p1 Khách đặt
                                            p.p2 Mr. Jason Chen
                                        .booking-box__group
                                            p.p1 Thời gian
                                            p.p2 19:00, 12 Tháng 4, 2019
                                    .booking-box__package
                                        .d-block
                                            p.p1 Package
                                            p.p2 Combo King Size
                                            ul
                                                li 3 x Rượu Whiske
                                                li 2 x Hoa quả
                                                li 4 x Người
                                                li 10 x Bóng
                                            p.p3 1.200.000đ
                                        .booking-box__img
                                            img(src='images/checkout-item1.png')
                                    .dashed
                                        hr
                                .booking-box__bottom
                                    .booking-box__code
                                        .code-qr
                                            img(src='images/qr-code.jpg')
                                        p.p1 Mã đặt chỗ
                                        p.p2 BUW89S
                        .view-map
                            .view-map__content
                                .view-map__iframe
                                    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.9396084366467!2d105.84974741404599!3d21.035102285994878!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135abbf5c6e7ce3%3A0xcfa017611623993c!2s1900+Club+Hanoi!5e0!3m2!1sen!2s!4v1557236876952!5m2!1sen!2s' allowfullscreen='')
                                .view-map__tab
                                    .view-map__tab__item
                                        svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M17.109 4.5H20.5C22.157 4.5 23.5 5.843 23.5 7.5V20.5C23.5 22.157 22.157 23.5 20.5 23.5H4.5C2.843 23.5 1.5 22.157 1.5 20.5V7.5C1.5 5.843 2.843 4.5 4.5 4.5H7.891', stroke='white', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                            path(d='M19.5 10.5V19.5H5.5V10.5', stroke='white', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                            path(d='M17.5 6.5C17.5 9.586 12.5 14.625 12.5 14.625C12.5 14.625 7.5 9.586 7.5 6.5C7.5 3.336 10.084 1.5 12.5 1.5C14.916 1.5 17.5 3.336 17.5 6.5Z', stroke='white', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                            path(d='M12.5 7.5C13.0523 7.5 13.5 7.05228 13.5 6.5C13.5 5.94772 13.0523 5.5 12.5 5.5C11.9477 5.5 11.5 5.94772 11.5 6.5C11.5 7.05228 11.9477 7.5 12.5 7.5Z', fill='white')
                                        span Xem bản đồ
                                    .view-map__tab__item
                                        svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M11.75 22.5C5.81294 22.5 1 17.6871 1 11.75C1 5.81294 5.81294 1 11.75 1C17.6871 1 22.5 5.81294 22.5 11.75C22.5 17.6871 17.6871 22.5 11.75 22.5Z', stroke='white', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                            path(d='M12.7273 17.6364L10.7727 12.75L5.88638 10.7955L15.1705 8.35229L12.7273 17.6364Z', stroke='white', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                        span Chỉ đường
                        .guide-box
                            .guide-box__title
                                h5 Hướng dẫn sử dụng
                            ul
                                li
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet lectus pharetra, mollis libero eget, interdum lectus. Vivamus at ipsum est.
                                li
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet lectus pharetra, mollis libero eget, interdum lectus. Vivamus at ipsum est.
                                li
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet lectus pharetra, mollis libero eget, interdum lectus. Vivamus at ipsum est.
                                li
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet lectus pharetra, mollis libero eget, interdum lectus. Vivamus at ipsum est.
                        .guide-box
                            .guide-box__title
                                h5 Những điều cần lưu ý
                            ul
                                li
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet lectus pharetra, mollis libero eget, interdum lectus. Vivamus at ipsum est.
                                li
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet lectus pharetra, mollis libero eget, interdum lectus. Vivamus at ipsum est.
                                li
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet lectus pharetra, mollis libero eget, interdum lectus. Vivamus at ipsum est.
                                li
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet lectus pharetra, mollis libero eget, interdum lectus. Vivamus at ipsum est.
        script(type='text/javascript' src="js/jquery-3.2.1.slim.min.js")
        script(type='text/javascript' src="js/popper.min.js")
        script(type='text/javascript' src="js/bootstrap.min.js")
        script.
            $(".life-header__menu").click(function () {
                $('body').addClass('open-menu');
            });
            $(".life-backdrop").click(function () {
                $('body').removeClass('open-menu');
            });





