- var page = "home";
doctype html
html(lang="vi")
    head
        title 9life
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        meta(name='format-detection', content='telephone=no')
        link(rel='shortcut icon', type='image/x-icon', href='images/logo-purple.png')

        link(rel="stylesheet" href="css/libs/bootstrap.min.css")
        link(rel="stylesheet" href="css/libs/owl.carousel.min.css")
        link(rel="stylesheet" href="css/libs/owl.theme.default.min.css")
        link(rel="stylesheet" href="css/styles.css")
    body(ontouchstart='')
        #lifePopup.modal.fade
            .modal-dialog.life-popup
                .modal-content
                    .modal-header
                        .life-popup__panagation
                            span.active
                            span
                            span
                            span
                            span
                        button.close(type='button', data-dismiss='modal') ×
                    // Modal body
                    .modal-body
                        .life-popup__detail
                            .home-title
                                h3 Luxury Package
                            .list-offers.owl-carousel.owl-theme
                                .list-offers__item
                                    .life-card
                                        .life-card__img
                                            img(src='images/offers-banner.jpg')
                                            .life-card__gradient
                                            .life-card__badge
                                                .badge.badge_green
                                                    i.fas.fa-circle
                                                    | Best Offer
                                                .badge.badge_yellow
                                                    i.fas.fa-circle
                                                    | -30%
                                        .life-card__content
                                            .life-card__bottom
                                                .life-card__price
                                                    p 1.200.000đ
                                                    strike 2.400.000đ
                                        .life-card__benefit
                                            .checkout-location
                                                .checkout-location__icon
                                                    i.fas.fa-check
                                                .checkout-location__text
                                                    p Khách được đi cửa riêng
                                            .checkout-location
                                                .checkout-location__icon
                                                    i.fas.fa-check
                                                .checkout-location__text
                                                    p Đã bao gồm tất cả các chi phí
                                            .checkout-location
                                                .checkout-location__icon
                                                    i.fas.fa-check
                                                .checkout-location__text
                                                    p Đảm bảo giữ chỗ đến 11h
                                .list-offers__item
                                    .life-card
                                        .life-card__img
                                            img(src='images/offers-banner.jpg')
                                            .life-card__gradient
                                            .life-card__badge
                                                .badge.badge_green
                                                    i.fas.fa-circle
                                                    | Best Offer
                                                .badge.badge_yellow
                                                    i.fas.fa-circle
                                                    | -30%
                                        .life-card__content
                                            .life-card__bottom
                                                .life-card__price
                                                    p 1.200.000đ
                                                    strike 2.400.000đ
                                        .life-card__benefit
                                            .checkout-location
                                                .checkout-location__icon
                                                    i.fas.fa-check
                                                .checkout-location__text
                                                    p Khách được đi cửa riêng
                                            .checkout-location
                                                .checkout-location__icon
                                                    i.fas.fa-check
                                                .checkout-location__text
                                                    p Đã bao gồm tất cả các chi phí
                                            .checkout-location
                                                .checkout-location__icon
                                                    i.fas.fa-check
                                                .checkout-location__text
                                                    p Đảm bảo giữ chỗ đến 11h


                            .life-popup__info
                                .popup-amount
                                    p Rượu Whiskey Skyy
                                    span 3
                                .popup-amount
                                    p Hoa Quả
                                    span 2
                                .popup-amount
                                    p Bàn đặt giữ chỗ
                                    span 4
                                .popup-amount
                                    p Rượu Whiskey Skyy
                                    span 3
                                .popup-amount
                                    p Khăn giấy
                                    span 2
                                .popup-amount
                                    p Hoa quả
                                    span 3
                                .popup-amount
                                    p Rượu Whiskey Skyy
                                    span 3
                    .modal-footer
                        .checkout-btn
                            a(href="co-payment.html") Đặt mua

        main.life-wrapper
            section.life-home
                .home-header
                    .home-header__logo
                        h1
                            a(href='#')
                                img.logo-white(src='images/logo-white.svg')
                                img.logo-black(src='images/logo-black.svg')
                    .home-header__search
                        a(href='#')
                            i.fas.fa-search
                .life-home__banner
                    img(src='images/home-banner.jpg')
                .life-home__card
                    .home-city
                        .home-city__left
                            h2
                                | Hanoi
                                i.fas.fa-chevron-down
                            p Lorem ipsum dolor sit amet, consecte adipiscing elit. Lorem ipsum dolor sit amet, consecte adipiscing elit
                        .home-city__right
                            .weather-box
                                .weather-box__icon
                                    i.fas.fa-cloud
                                    i.fas.fa-bolt
                                .weather-box__numb
                                    p.p1 29&#176;C
                                    p.p2 24&#176;C
                    .home-profile
                        .home-profile__top
                            .home-profile__name
                                p.p1 Good evening
                                p.p2 Jason Chen
                            .home-profile__avatar
                                img(src='images/home-avatar.png')
                        .home-profile__bottom
                            .home-profile__bottom__row
                                .home-profile__bottom__item
                                    img(src='images/i-booking.svg')
                                    span
                                        | 12
                                        small Bookings
                                .home-profile__bottom__item
                                    img(src='images/i-tickets.svg')
                                    span
                                        | 3
                                        small Tickets
                                .home-profile__bottom__item
                                    img(src='images/i-fav.svg')
                                    span
                                        | 12
                                        small Favorites
                    .home-tab
                        .home-tab__row
                            .home-tab__item
                                a
                                    .home-tab__icon
                                        img(src='images/i-o-table.svg')
                                    span Đặt bàn
                            .home-tab__item
                                a
                                    .home-tab__icon
                                        img(src='images/i-o-karaoke.svg')
                                    span Đặt Karaoke
                            .home-tab__item
                                a
                                    .home-tab__icon
                                        img(src='images/i-o-tickets.svg')
                                    span Đặt vé
                .life-home__nearby
                    .home-title
                        h3 Nearby
                    .list-bar.owl-carousel.owl-theme
                        .list-bar__item
                            .bar-item
                                img.bar-item__img(src='images/bar-item.jpg')
                                .bar-item__sale -50%
                                .bar-item__gradient
                                .bar-item__content
                                    p.p1 1900
                                    p.p2 Bar · 15m · $$
                                    .bar-item__state
                                        p.p3 Open
                                        .dropdown
                                            button.dropdown-toggle(type='button' data-toggle='dropdown')
                                                i.fas.fa-ellipsis-h
                                            .dropdown-menu
                                                a.dropdown-item(href='#')
                                                    i.fas.fa-heart
                                                    | Yêu thích
                                                a.dropdown-item(href='#')
                                                    i.fas.fa-share
                                                    | Chia sẻ
                                a.bar-item__link(href='detail-bar.html')
                        .list-bar__item
                            .bar-item
                                img.bar-item__img(src='images/bar-item2.jpg')
                                .bar-item__sale -50%
                                .bar-item__gradient
                                .bar-item__content
                                    p.p1 SI Cuisine & Mixology
                                    p.p2 Lounge · 15m · $$$
                                    .bar-item__state
                                        p.p3 Free giờ hát
                                        .dropdown
                                            button.dropdown-toggle(type='button' data-toggle='dropdown')
                                                i.fas.fa-ellipsis-h
                                            .dropdown-menu
                                                a.dropdown-item(href='#')
                                                    i.fas.fa-heart
                                                    | Yêu thích
                                                a.dropdown-item(href='#')
                                                    i.fas.fa-share
                                                    | Chia sẻ
                                a.bar-item__link(href='detail-bar.html')
                        .list-bar__item
                            .bar-item
                                img.bar-item__img(src='images/bar-item.jpg')
                                .bar-item__sale -50%
                                .bar-item__gradient
                                .bar-item__content
                                    p.p1 1900
                                    p.p2 Bar · 15m · $$
                                    .bar-item__state
                                        p.p3 Open
                                        .dropdown
                                            button.dropdown-toggle(type='button' data-toggle='dropdown')
                                                i.fas.fa-ellipsis-h
                                            .dropdown-menu
                                                a.dropdown-item(href='#')
                                                    i.fas.fa-heart
                                                    | Yêu thích
                                                a.dropdown-item(href='#')
                                                    i.fas.fa-share
                                                    | Chia sẻ
                                a.bar-item__link(href='detail-bar.html')
                        .list-bar__item
                            .bar-item
                                img.bar-item__img(src='images/bar-item2.jpg')
                                .bar-item__sale -50%
                                .bar-item__gradient
                                .bar-item__content
                                    p.p1 SI Cuisine & Mixology
                                    p.p2 Lounge · 15m · $$$
                                    .bar-item__state
                                        p.p3 Free giờ hát
                                        .dropdown
                                            button.dropdown-toggle(type='button' data-toggle='dropdown')
                                                i.fas.fa-ellipsis-h
                                            .dropdown-menu
                                                a.dropdown-item(href='#')
                                                    i.fas.fa-heart
                                                    | Yêu thích
                                                a.dropdown-item(href='#')
                                                    i.fas.fa-share
                                                    | Chia sẻ
                                a.bar-item__link(href='detail-bar.html')
                        .list-bar__item
                            .bar-item
                                img.bar-item__img(src='images/bar-item.jpg')
                                .bar-item__sale -50%
                                .bar-item__gradient
                                .bar-item__content
                                    p.p1 1900
                                    p.p2 Bar · 15m · $$
                                    .bar-item__state
                                        p.p3 Open
                                        .dropdown
                                            button.dropdown-toggle(type='button' data-toggle='dropdown')
                                                i.fas.fa-ellipsis-h
                                            .dropdown-menu
                                                a.dropdown-item(href='#')
                                                    i.fas.fa-heart
                                                    | Yêu thích
                                                a.dropdown-item(href='#')
                                                    i.fas.fa-share
                                                    | Chia sẻ
                                a.bar-item__link(href='detail-bar.html')
                        .list-bar__item
                            .bar-item
                                img.bar-item__img(src='images/bar-item2.jpg')
                                .bar-item__sale -50%
                                .bar-item__gradient
                                .bar-item__content
                                    p.p1 SI Cuisine & Mixology
                                    p.p2 Lounge · 15m · $$$
                                    .bar-item__state
                                        p.p3 Free giờ hát
                                        .dropdown
                                            button.dropdown-toggle(type='button' data-toggle='dropdown')
                                                i.fas.fa-ellipsis-h
                                            .dropdown-menu
                                                a.dropdown-item(href='#')
                                                    i.fas.fa-heart
                                                    | Yêu thích
                                                a.dropdown-item(href='#')
                                                    i.fas.fa-share
                                                    | Chia sẻ
                                a.bar-item__link(href='detail-bar.html')
                .life-home__offers
                    .home-title
                        h3 Best Offers
                    .list-offers.owl-carousel.owl-theme
                        .list-offers__item
                            .life-card
                                .life-card__img
                                    img(src='images/offers-banner.jpg')
                                    .life-card__sale -30%
                                    .life-card__gradient
                                    .life-card__badge
                                        .badge.badge_red
                                            i.fas.fa-circle
                                            | hot deal
                                        .badge.badge_yellow
                                            i.fas.fa-circle
                                            | 129 booked
                                .life-card__content
                                    p.life-card__name Luxury Package
                                    p.life-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    p.life-card__address
                                        img(src='images/i-address.svg')
                                        span 1900 Nightclub · 15m
                                    .life-card__bottom
                                        .life-card__price
                                            p 1.200.000đ
                                            strike 2.400.000đ
                                        .life-card__btn
                                            a.btn.btn-purple.btn-round(href='#' data-toggle="modal" data-target="#lifePopup") MUA
                        .list-offers__item
                            .life-card
                                .life-card__img
                                    img(src='images/offers-banner.jpg')
                                    .life-card__sale -30%
                                    .life-card__gradient
                                    .life-card__badge
                                        .badge.badge_red
                                            i.fas.fa-circle
                                            | hot deal
                                        .badge.badge_yellow
                                            i.fas.fa-circle
                                            | 129 booked
                                .life-card__content
                                    p.life-card__name Luxury Package
                                    p.life-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    p.life-card__address
                                        img(src='images/i-address.svg')
                                        span 1900 Nightclub · 15m
                                    .life-card__bottom
                                        .life-card__price
                                            p 1.200.000đ
                                            strike 2.400.000đ
                                        .life-card__btn
                                            a.btn.btn-purple.btn-round(href='#' data-toggle="modal" data-target="#lifePopup") MUA
                        .list-offers__item
                            .life-card
                                .life-card__img
                                    img(src='images/offers-banner.jpg')
                                    .life-card__sale -30%
                                    .life-card__gradient
                                    .life-card__badge
                                        .badge.badge_red
                                            i.fas.fa-circle
                                            | hot deal
                                        .badge.badge_yellow
                                            i.fas.fa-circle
                                            | 129 booked
                                .life-card__content
                                    p.life-card__name Luxury Package
                                    p.life-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    p.life-card__address
                                        img(src='images/i-address.svg')
                                        span 1900 Nightclub · 15m
                                    .life-card__bottom
                                        .life-card__price
                                            p 1.200.000đ
                                            strike 2.400.000đ
                                        .life-card__btn
                                            a.btn.btn-purple.btn-round(href='#' data-toggle="modal" data-target="#lifePopup") MUA
                        .list-offers__item
                            .life-card
                                .life-card__img
                                    img(src='images/offers-banner.jpg')
                                    .life-card__sale -30%
                                    .life-card__gradient
                                    .life-card__badge
                                        .badge.badge_red
                                            i.fas.fa-circle
                                            | hot deal
                                        .badge.badge_yellow
                                            i.fas.fa-circle
                                            | 129 booked
                                .life-card__content
                                    p.life-card__name Luxury Package
                                    p.life-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    p.life-card__address
                                        img(src='images/i-address.svg')
                                        span 1900 Nightclub · 15m
                                    .life-card__bottom
                                        .life-card__price
                                            p 1.200.000đ
                                            strike 2.400.000đ
                                        .life-card__btn
                                            a.btn.btn-purple.btn-round(href='#' data-toggle="modal" data-target="#lifePopup") MUA
                .life-home__events
                    .home-title
                        h3 Events
                    .list-events.owl-carousel.owl-theme
                        .list-events__item
                            a.events-item(href='detail-events.html')
                                .events-item__poster
                                    img(src='images/events-poster.jpg')
                                .events-item__content
                                    .events-item__time
                                        i.far.fa-calendar-alt
                                        span 21:00 Hôm nay
                                    p.events-item__name Buffet Drinks Party BRay & Pharreal Phuong
                                    p.events-item__address
                                        img(src='images/i-address.svg')
                                        span 1900 Nightclub · 15m
                        .list-events__item
                            a.events-item(href='detail-events.html')
                                .events-item__poster
                                    img(src='images/events-poster.jpg')
                                .events-item__content
                                    .events-item__time
                                        i.far.fa-calendar-alt
                                        span 21:00 Hôm nay
                                    p.events-item__name Buffet Drinks Party BRay & Pharreal Phuong
                                    p.events-item__address
                                        img(src='images/i-address.svg')
                                        span 1900 Nightclub · 15m
                        .list-events__item
                            a.events-item(href='detail-events.html')
                                .events-item__poster
                                    img(src='images/events-poster.jpg')
                                .events-item__content
                                    .events-item__time
                                        i.far.fa-calendar-alt
                                        span 21:00 Hôm nay
                                    p.events-item__name Buffet Drinks Party BRay & Pharreal Phuong
                                    p.events-item__address
                                        img(src='images/i-address.svg')
                                        span 1900 Nightclub · 15m
                        .list-events__item
                            a.events-item(href='detail-events.html')
                                .events-item__poster
                                    img(src='images/events-poster.jpg')
                                .events-item__content
                                    .events-item__time
                                        i.far.fa-calendar-alt
                                        span 21:00 Hôm nay
                                    p.events-item__name Buffet Drinks Party BRay & Pharreal Phuong
                                    p.events-item__address
                                        img(src='images/i-address.svg')
                                        span 1900 Nightclub · 15m
                .life-home__viewed
                    .home-title
                        h3 Recently Viewed
                    .list-bar.owl-carousel.owl-theme
                        .list-bar__item
                            .bar-item
                                img.bar-item__img(src='images/bar-item.jpg')
                                .bar-item__sale -50%
                                .bar-item__gradient
                                .bar-item__content
                                    p.p1 1900
                                    p.p2 Bar · 15m · $$
                                    .bar-item__state
                                        p.p3 Open
                                        .dropdown
                                            button.dropdown-toggle(type='button' data-toggle='dropdown')
                                                i.fas.fa-ellipsis-h
                                            .dropdown-menu
                                                a.dropdown-item(href='#')
                                                    i.fas.fa-heart
                                                    | Yêu thích
                                                a.dropdown-item(href='#')
                                                    i.fas.fa-share
                                                    | Chia sẻ
                                a.bar-item__link(href='detail-bar.html')
                        .list-bar__item
                            .bar-item
                                img.bar-item__img(src='images/bar-item2.jpg')
                                .bar-item__sale -50%
                                .bar-item__gradient
                                .bar-item__content
                                    p.p1 SI Cuisine & Mixology
                                    p.p2 Lounge · 15m · $$$
                                    .bar-item__state
                                        p.p3 Free giờ hát
                                        .dropdown
                                            button.dropdown-toggle(type='button' data-toggle='dropdown')
                                                i.fas.fa-ellipsis-h
                                            .dropdown-menu
                                                a.dropdown-item(href='#')
                                                    i.fas.fa-heart
                                                    | Yêu thích
                                                a.dropdown-item(href='#')
                                                    i.fas.fa-share
                                                    | Chia sẻ
                                a.bar-item__link(href='detail-bar.html')
                        .list-bar__item
                            .bar-item
                                img.bar-item__img(src='images/bar-item.jpg')
                                .bar-item__sale -50%
                                .bar-item__gradient
                                .bar-item__content
                                    p.p1 1900
                                    p.p2 Bar · 15m · $$
                                    .bar-item__state
                                        p.p3 Open
                                        .dropdown
                                            button.dropdown-toggle(type='button' data-toggle='dropdown')
                                                i.fas.fa-ellipsis-h
                                            .dropdown-menu
                                                a.dropdown-item(href='#')
                                                    i.fas.fa-heart
                                                    | Yêu thích
                                                a.dropdown-item(href='#')
                                                    i.fas.fa-share
                                                    | Chia sẻ
                                a.bar-item__link(href='detail-bar.html')
                        .list-bar__item
                            .bar-item
                                img.bar-item__img(src='images/bar-item2.jpg')
                                .bar-item__sale -50%
                                .bar-item__gradient
                                .bar-item__content
                                    p.p1 SI Cuisine & Mixology
                                    p.p2 Lounge · 15m · $$$
                                    .bar-item__state
                                        p.p3 Free giờ hát
                                        .dropdown
                                            button.dropdown-toggle(type='button' data-toggle='dropdown')
                                                i.fas.fa-ellipsis-h
                                            .dropdown-menu
                                                a.dropdown-item(href='#')
                                                    i.fas.fa-heart
                                                    | Yêu thích
                                                a.dropdown-item(href='#')
                                                    i.fas.fa-share
                                                    | Chia sẻ
                                a.bar-item__link(href='detail-bar.html')
        script(type='text/javascript' src="js/jquery-3.2.1.slim.min.js")
        script(type='text/javascript' src="js/popper.min.js")
        script(type='text/javascript' src="js/bootstrap.min.js")
        script(type='text/javascript' src="js/owl.carousel.min.js")
        script.
            var homeHeaderTop = $('.home-header').offset().top;
            var homeHeaderHeight = $('.home-header').height();
            var homeHeaderBottom = homeHeaderTop + homeHeaderHeight;
            $(window).scroll(function () {
                if ($(window).scrollTop() >= homeHeaderBottom) {
                    $('.home-header').addClass('home-header_fixed');
                } else {
                    $('.home-header').removeClass('home-header_fixed');
                }
            });

        script.
            $('.list-bar').owlCarousel({
                nav: false,
                dots: false,
                autoWidth:true,
                items: 3
            })
        script.
            $('.list-offers').owlCarousel({
                nav: false,
                dots: false,
                autoWidth: true,
                items: 2
            })
        script.
            $('.list-events').owlCarousel({
                nav: false,
                dots: false,
                autoWidth: true,
                items: 2
            })



