- var page = "index";
doctype html
html(lang="vi")
    head
        title 9life
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        meta(name='format-detection', content='telephone=no')
        link(rel='shortcut icon', type='image/x-icon', href='images/logo-purple.png')

        link(rel="stylesheet" href="css/libs/bootstrap.min.css")
        link(rel="stylesheet" href="css/libs/owl.carousel.min.css")
        link(rel="stylesheet" href="css/libs/owl.theme.default.min.css")
        link(rel="stylesheet" href="css/styles.css")

    body(ontouchstart='')
        main.life-wrapper
            section.life-login
                .login-header
                    .login-header__logo
                        h1
                            img(src='images/logo-purple.svg')
                .login-step1
                    .login-step1__photo
                        img(src='images/login-step1.jpg')
                    .login-step1__slide.owl-carousel.owl-theme
                        .login-step1__slide__item
                            h2.login-title Book bàn bất cứ đâu
                            p.login-step1__slide__text Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        .login-step1__slide__item
                            h2.login-title Book bàn bất cứ đâu
                            p.login-step1__slide__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur tortor at bibendum fringilla. Maecenas bibendum posuere finibus.
                        .login-step1__slide__item
                            h2.login-title Book bàn bất cứ đâu
                            p.login-step1__slide__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur tortor at bibendum fringilla. Maecenas bibendum posuere finibus. Maecenas bibendum posuere finibus.
                    .login-step1__btn
                        a.btn.btn-purple(href='login-step2.html') đăng nhập
                    .login-step1__fb
                        a
                            i.fab.fa-facebook-square
                            | Log In with Facebook
        script(type='text/javascript' src="js/jquery-3.2.1.slim.min.js")
        script(type='text/javascript' src="js/popper.min.js")
        script(type='text/javascript' src="js/bootstrap.min.js")
        script(type='text/javascript' src="js/owl.carousel.min.js")
        script.
            $('.login-step1__slide').owlCarousel({
                loop: true,
                nav: true,
                items: 1
            })






