- var page = "lang-curren";
doctype html
html(lang="vi")
    head
        include jades/head.jade
    body(ontouchstart='')
        include jades/life-menu.jade
        include jades/life-search.jade
        main.life-wrapper
            include jades/header.jade
            section.life-booking
                .lang-curren
                    .lang-curren__lang
                        p.lang-curren__title
                            svg(width='20', height='20', viewBox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M9.435 11.9375L10.2275 9.68125C9.40774 9.43103 8.62089 9.08356 7.88375 8.64625C8.43318 8.03676 8.89933 7.35708 9.27 6.625C9.65901 5.86113 9.94645 5.04967 10.125 4.21125C10.8613 4.21125 11.3488 4.23625 11.8988 4.28625V2.025C11.2969 2.09004 10.6916 2.11926 10.0863 2.1125H7.10875V1.35C7.10832 1.09397 7.13344 0.838538 7.18375 0.5875H4.6725C4.72402 0.842576 4.74916 1.10228 4.7475 1.3625V2.1125H1.98625C1.38131 2.11893 0.776507 2.08971 0.175 2.025V4.28625C0.8 4.23625 1.22375 4.21125 1.96125 4.21125C2.17318 4.95156 2.46227 5.66757 2.82375 6.3475C3.26018 7.17576 3.80175 7.9442 4.435 8.63375C3.06339 9.4336 1.56243 9.98736 0 10.27C0.525518 10.9315 0.931221 11.6799 1.19875 12.4812C2.97638 12.0063 4.6589 11.2287 6.1725 10.1825C7.18035 10.9048 8.27683 11.4946 9.435 11.9375ZM4.36 4.21125H7.67125C7.40524 5.3313 6.86875 6.36907 6.10875 7.23375C5.28415 6.3869 4.68318 5.34821 4.36 4.21125Z', fill='#6A28FA')
                                path(d='M17.1463 20L16.24 17.0263H11.6863L10.78 20H7.92627L12.335 7.45625H15.5738L20 20H17.1463ZM15.6075 14.805C14.7742 12.11 14.3029 10.5863 14.1938 10.2338C14.0888 9.88 14.0125 9.60125 13.9675 9.39625C13.7792 10.1246 13.2409 11.9275 12.3525 14.805H15.6075Z', fill='#6A28FA')
                            span Language
                        ul.lang-curren__list
                            li.active
                                p
                                    | Tiếng Việt

                            li
                                p
                                    | English

                            li
                                p
                                    | Korean

                    .lang-curren__curren
                        p.lang-curren__title
                            svg(width='10', height='20', viewBox='0 0 10 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M6.25 9V5.125C7 5.375 7.5 6.125 7.5 6.875C7.5 7.625 8 8.125 8.75 8.125C9.5 8.125 10 7.625 10 6.875C10 4.625 8.375 2.875 6.25 2.625V1.25C6.25 0.5 5.75 0 5 0C4.25 0 3.75 0.5 3.75 1.25V2.625C1.625 2.875 0 4.625 0 6.875C0 9.5 2 10.5 3.75 11V14.875C3 14.625 2.5 13.875 2.5 13.125C2.5 12.375 2 11.875 1.25 11.875C0.5 11.875 0 12.375 0 13.125C0 15.375 1.625 17.125 3.75 17.375V18.75C3.75 19.5 4.25 20 5 20C5.75 20 6.25 19.5 6.25 18.75V17.375C8.375 17.125 10 15.25 10 13.125C10 10.5 8 9.5 6.25 9ZM2.5 6.875C2.5 6 3 5.375 3.75 5.125V8.375C2.875 8 2.5 7.625 2.5 6.875ZM6.25 14.875V11.625C7.125 12 7.5 12.375 7.5 13.125C7.5 14 7 14.625 6.25 14.875Z', fill='#6A28FA')
                            span Currency
                        ul.lang-curren__list
                            li.active
                                p
                                    | Vietnam Dong (đ)

                            li
                                p
                                    | US Dollar (USD)

                            li
                                p
                                    | Korean (KRW)

        script(type='text/javascript' src="js/jquery-3.2.1.slim.min.js")
        script(type='text/javascript' src="js/popper.min.js")
        script(type='text/javascript' src="js/bootstrap.min.js")
        script.
            $(".life-header__search").click(function () {
                $('body').addClass('open-search');
            });
            $(".p-cancel").click(function () {
                $('body').removeClass('open-search');
            });
        script.
            $(".life-header__menu").click(function () {
                $('body').addClass('open-menu');
            });
            $(".life-backdrop").click(function () {
                $('body').removeClass('open-menu');
            });




