- var page = "list-favorite";
doctype html
html(lang="vi")
    head
        title 9life
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        meta(name='format-detection', content='telephone=no')
        link(rel='shortcut icon', type='image/x-icon', href='images/logo-purple.png')

        link(rel="stylesheet" href="css/libs/bootstrap.min.css")
        link(rel="stylesheet" href="css/styles.css")

    body(ontouchstart='')
        main.life-wrapper
            section.life-booking
                .booking-header
                    .booking-header__back
                        a
                            i.fas.fa-chevron-left
                    .booking-header__title
                        p Quán yêu thích
                .list-fav
                    .container
                        .list-fav__item
                            .fav-item
                                .fav-item__img
                                    img(src='images/bar-item.jpg')
                                .fav-item__content
                                    p.p1 1900 Nightclub
                                    p.p2 Bar · $$
                                    p.p3
                                        img(src='images/i-address.svg')
                                        span 12 Hàng Buồm, Hoàn Kiếm , Hà Nội
                                    .fav-item__dropdown
                                        .dropdown
                                            button.dropdown-toggle(data-toggle='dropdown')
                                                i.fas.fa-ellipsis-h
                                            .dropdown-menu
                                                a.dropdown-item(href='#')
                                                    i.far.fa-trash-alt
                                                    | Xóa
                                                a.dropdown-item(href='#')
                                                    i.fas.fa-share
                                                    | Chia sẻ
                                a.fav-item__link(href='detail-bar.html')
                        .list-fav__item
                            .fav-item
                                .fav-item__img
                                    img(src='images/bar-item.jpg')
                                .fav-item__content
                                    p.p1 1900 Nightclub
                                    p.p2 Bar · $$
                                    p.p3
                                        img(src='images/i-address.svg')
                                        span 12 Hàng Buồm, Hoàn Kiếm , Hà Nội
                                    .fav-item__dropdown
                                        .dropdown
                                            button.dropdown-toggle(data-toggle='dropdown')
                                                i.fas.fa-ellipsis-h
                                            .dropdown-menu
                                                a.dropdown-item(href='#')
                                                    i.far.fa-trash-alt
                                                    | Xóa
                                                a.dropdown-item(href='#')
                                                    i.fas.fa-share
                                                    | Chia sẻ
                                a.fav-item__link(href='detail-bar.html')
                        .list-fav__item
                            .fav-item
                                .fav-item__img
                                    img(src='images/bar-item.jpg')
                                .fav-item__content
                                    p.p1 1900 Nightclub
                                    p.p2 Bar · $$
                                    p.p3
                                        img(src='images/i-address.svg')
                                        span 12 Hàng Buồm, Hoàn Kiếm , Hà Nội
                                    .fav-item__dropdown
                                        .dropdown
                                            button.dropdown-toggle(data-toggle='dropdown')
                                                i.fas.fa-ellipsis-h
                                            .dropdown-menu
                                                a.dropdown-item(href='#')
                                                    i.far.fa-trash-alt
                                                    | Xóa
                                                a.dropdown-item(href='#')
                                                    i.fas.fa-share
                                                    | Chia sẻ
                                a.fav-item__link(href='detail-bar.html')
                        .list-fav__item
                            .fav-item
                                .fav-item__img
                                    img(src='images/bar-item.jpg')
                                .fav-item__content
                                    p.p1 1900 Nightclub
                                    p.p2 Bar · $$
                                    p.p3
                                        img(src='images/i-address.svg')
                                        span 12 Hàng Buồm, Hoàn Kiếm , Hà Nội
                                    .fav-item__dropdown
                                        .dropdown
                                            button.dropdown-toggle(data-toggle='dropdown')
                                                i.fas.fa-ellipsis-h
                                            .dropdown-menu
                                                a.dropdown-item(href='#')
                                                    i.far.fa-trash-alt
                                                    | Xóa
                                                a.dropdown-item(href='#')
                                                    i.fas.fa-share
                                                    | Chia sẻ
                                a.fav-item__link(href='detail-bar.html')
                        .list-fav__item
                            .fav-item
                                .fav-item__img
                                    img(src='images/bar-item.jpg')
                                .fav-item__content
                                    p.p1 1900 Nightclub
                                    p.p2 Bar · $$
                                    p.p3
                                        img(src='images/i-address.svg')
                                        span 12 Hàng Buồm, Hoàn Kiếm , Hà Nội
                                    .fav-item__dropdown
                                        .dropdown
                                            button.dropdown-toggle(data-toggle='dropdown')
                                                i.fas.fa-ellipsis-h
                                            .dropdown-menu
                                                a.dropdown-item(href='#')
                                                    i.far.fa-trash-alt
                                                    | Xóa
                                                a.dropdown-item(href='#')
                                                    i.fas.fa-share
                                                    | Chia sẻ
                                a.fav-item__link(href='detail-bar.html')
        script(type='text/javascript' src="js/jquery-3.2.1.slim.min.js")
        script(type='text/javascript' src="js/popper.min.js")
        script(type='text/javascript' src="js/bootstrap.min.js")






