- var page = "list-booking";
doctype html
html(lang="vi")
    head
        title 9life
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        meta(name='format-detection', content='telephone=no')
        link(rel='shortcut icon', type='image/x-icon', href='images/logo-purple.png')

        link(rel="stylesheet" href="css/libs/bootstrap.min.css")
        link(rel="stylesheet" href="css/styles.css")

    body(ontouchstart='')
        main.life-wrapper
            section.life-booking
                .booking-header
                    .booking-header__back
                        a
                            i.fas.fa-chevron-left
                    .booking-header__title
                        p Booking
                .list-booking
                    .container
                        .list-booking__item
                            .booking-item
                                .booking-item__top
                                    .booking-item__info
                                        .booking-item__name
                                            p.p1 Combo King Size
                                            p.p2
                                                img(src='images/i-address.svg')
                                                span 1900 Nightclub
                                        .booking-item__img
                                            img(src='images/checkout-item1.png')
                                    .booking-item__detail
                                        .detail-left
                                            p 1.200.000đ
                                            .booking-item__time
                                                p.p2 Thời gian
                                                p.p3 19:00, 12 Tháng 4, 2019
                                        .detail-right
                                            button.btn.btn-outline(type='button')
                                                img(src='images/i-save.svg')
                                                | Save
                                .booking-item__bottom
                                    p AL12BUW89S
                        .list-booking__item
                            .booking-item
                                .booking-item__top
                                    .booking-item__info
                                        .booking-item__name
                                            p.p1 Combo King Size
                                            p.p2
                                                img(src='images/i-address.svg')
                                                span 1900 Nightclub
                                        .booking-item__img
                                            img(src='images/checkout-item1.png')
                                    .booking-item__detail
                                        .detail-left
                                            p 1.200.000đ
                                            .booking-item__time
                                                p.p2 Thời gian
                                                p.p3 19:00, 12 Tháng 4, 2019
                                        .detail-right
                                .booking-item__bottom
                                    a.btn thanh toán ngay
                        p.list-booking__title Đã sử dụng
                        .list-booking__item
                            .booking-item
                                .booking-item__top
                                    .booking-item__info
                                        .booking-item__name
                                            p.p1 Combo King Size
                                            p.p2
                                                img(src='images/i-address.svg')
                                                span 1900 Nightclub
                                        .booking-item__img
                                            img(src='images/checkout-item1.png')
                                    .booking-item__detail
                                        .detail-left
                                            p 1.200.000đ
                                            .booking-item__time
                                                p.p2 Thời gian
                                                p.p3 19:00, 12 Tháng 4, 2019
                                        .detail-right
                                            button.btn.btn-outline(type='button')
                                                img(src='images/i-save.svg')
                                                | Save
                                .booking-item__bottom
                                    p.used AL12BUW89S
                        .list-booking__item
                            .booking-item
                                .booking-item__top
                                    .booking-item__info
                                        .booking-item__name
                                            p.p1 Combo King Size
                                            p.p2
                                                img(src='images/i-address.svg')
                                                span 1900 Nightclub
                                        .booking-item__img
                                            img(src='images/checkout-item1.png')
                                    .booking-item__detail
                                        .detail-left
                                            p 1.200.000đ
                                            .booking-item__time
                                                p.p2 Thời gian
                                                p.p3 19:00, 12 Tháng 4, 2019
                                        .detail-right
                                            button.btn.btn-outline(type='button')
                                                img(src='images/i-save.svg')
                                                | Save
                                .booking-item__bottom
                                    p.used AL12BUW89S
        script(type='text/javascript' src="js/jquery-3.2.1.slim.min.js")
        script(type='text/javascript' src="js/popper.min.js")
        script(type='text/javascript' src="js/bootstrap.min.js")






