- var page = "list-booking";
doctype html
html(lang="vi")
    head
        title 9life
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        meta(name='format-detection', content='telephone=no')
        link(rel='shortcut icon', type='image/x-icon', href='images/logo-purple.png')

        link(rel="stylesheet" href="css/libs/bootstrap.min.css")
        link(rel="stylesheet" href="css/styles.css")

    body(ontouchstart='')
        main.life-wrapper
            section.life-booking
                .booking-header
                    .booking-header__back
                        a
                            img(src="images/i-arrow-left.svg")
                    .booking-header__title
                        p Booking
                .list-booking
                    .container
                        .list-booking__item
                            .booking-item
                                .booking-item__top
                                    .booking-item__info
                                        .booking-item__name
                                            p.p1 Combo King Size
                                            p.p2
                                                svg(width='12', height='13', viewBox='0 0 12 13', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M6 0.470581C3.075 0.470581 0.75 2.79558 0.75 5.72058C0.75 7.14558 1.275 8.49558 2.325 9.47058C2.4 9.54558 5.4 12.2456 5.475 12.3206C5.775 12.5456 6.225 12.5456 6.45 12.3206C6.525 12.2456 9.6 9.54558 9.6 9.47058C10.65 8.49558 11.175 7.14558 11.175 5.72058C11.25 2.79558 8.925 0.470581 6 0.470581ZM6 7.22058C5.175 7.22058 4.5 6.54558 4.5 5.72058C4.5 4.89558 5.175 4.22058 6 4.22058C6.825 4.22058 7.5 4.89558 7.5 5.72058C7.5 6.54558 6.825 7.22058 6 7.22058Z', fill='#6A28FA')
                                                span 1900 Nightclub
                                        .booking-item__img
                                            img(src='images/checkout-item1.png')
                                    .booking-item__detail
                                        .detail-left
                                            p 1.200.000đ
                                            .booking-item__time
                                                p.p2 Thời gian
                                                p.p3 19:00, 12 Tháng 4, 2019
                                        .detail-right
                                            button.btn.btn-outline(type='button')
                                                svg(width='15', height='16', viewBox='0 0 15 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M7.5 0.5V11.5', stroke='#6A28FA', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                                    path(d='M12.5 6.5L7.5 11.5L2.5 6.5', stroke='#6A28FA', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                                    path(d='M14.5 15.5H0.5', stroke='#6A28FA', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                                                span Save
                                    .dashed
                                        hr
                                .booking-item__bottom
                                    p AL12BUW89S
                        .list-booking__item
                            .booking-item.active
                                .booking-item__top
                                    .booking-item__info
                                        .booking-item__name
                                            p.p1 Combo King Size
                                            p.p2
                                                svg(width='12', height='13', viewBox='0 0 12 13', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M6 0.470581C3.075 0.470581 0.75 2.79558 0.75 5.72058C0.75 7.14558 1.275 8.49558 2.325 9.47058C2.4 9.54558 5.4 12.2456 5.475 12.3206C5.775 12.5456 6.225 12.5456 6.45 12.3206C6.525 12.2456 9.6 9.54558 9.6 9.47058C10.65 8.49558 11.175 7.14558 11.175 5.72058C11.25 2.79558 8.925 0.470581 6 0.470581ZM6 7.22058C5.175 7.22058 4.5 6.54558 4.5 5.72058C4.5 4.89558 5.175 4.22058 6 4.22058C6.825 4.22058 7.5 4.89558 7.5 5.72058C7.5 6.54558 6.825 7.22058 6 7.22058Z', fill='#6A28FA')
                                                span 1900 Nightclub
                                        .booking-item__img
                                            img(src='images/checkout-item1.png')
                                    .booking-item__detail
                                        .detail-left
                                            p 1.200.000đ
                                            .booking-item__time
                                                p.p3 Chưa thanh toán
                                        .detail-right
                                    .dashed
                                        hr
                                .booking-item__bottom
                                    a.btn thanh toán ngay
                        p.list-booking__title Đã sử dụng
                        .list-booking__item
                            .booking-item.deactive
                                .booking-item__top
                                    .booking-item__info
                                        .booking-item__name
                                            p.p1 Combo King Size
                                            p.p2
                                                svg(width='12', height='13', viewBox='0 0 12 13', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M6 0.470581C3.075 0.470581 0.75 2.79558 0.75 5.72058C0.75 7.14558 1.275 8.49558 2.325 9.47058C2.4 9.54558 5.4 12.2456 5.475 12.3206C5.775 12.5456 6.225 12.5456 6.45 12.3206C6.525 12.2456 9.6 9.54558 9.6 9.47058C10.65 8.49558 11.175 7.14558 11.175 5.72058C11.25 2.79558 8.925 0.470581 6 0.470581ZM6 7.22058C5.175 7.22058 4.5 6.54558 4.5 5.72058C4.5 4.89558 5.175 4.22058 6 4.22058C6.825 4.22058 7.5 4.89558 7.5 5.72058C7.5 6.54558 6.825 7.22058 6 7.22058Z', fill='#6A28FA')
                                                span 1900 Nightclub
                                        .booking-item__img
                                            img(src='images/checkout-item1.png')
                                    .booking-item__detail
                                        .detail-left
                                            p 1.200.000đ
                                            .booking-item__time
                                                p.p2 Thời gian
                                                p.p3 19:00, 12 Tháng 4, 2019
                                    .dashed
                                        hr
                                .booking-item__bottom
                                    p.used AL12BUW89S
                        .list-booking__item
                            .booking-item.deactive
                                .booking-item__top
                                    .booking-item__info
                                        .booking-item__name
                                            p.p1 Combo King Size
                                            p.p2
                                                svg(width='12', height='13', viewBox='0 0 12 13', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M6 0.470581C3.075 0.470581 0.75 2.79558 0.75 5.72058C0.75 7.14558 1.275 8.49558 2.325 9.47058C2.4 9.54558 5.4 12.2456 5.475 12.3206C5.775 12.5456 6.225 12.5456 6.45 12.3206C6.525 12.2456 9.6 9.54558 9.6 9.47058C10.65 8.49558 11.175 7.14558 11.175 5.72058C11.25 2.79558 8.925 0.470581 6 0.470581ZM6 7.22058C5.175 7.22058 4.5 6.54558 4.5 5.72058C4.5 4.89558 5.175 4.22058 6 4.22058C6.825 4.22058 7.5 4.89558 7.5 5.72058C7.5 6.54558 6.825 7.22058 6 7.22058Z', fill='#6A28FA')
                                                span 1900 Nightclub
                                        .booking-item__img
                                            img(src='images/checkout-item1.png')
                                    .booking-item__detail
                                        .detail-left
                                            p 1.200.000đ
                                            .booking-item__time
                                                p.p2 Thời gian
                                                p.p3 19:00, 12 Tháng 4, 2019
                                    .dashed
                                        hr
                                .booking-item__bottom
                                    p.used AL12BUW89S
        script(type='text/javascript' src="js/jquery-3.2.1.slim.min.js")
        script(type='text/javascript' src="js/popper.min.js")
        script(type='text/javascript' src="js/bootstrap.min.js")






