/*---------------------------------------------------------------------------*
 * SF Display
 *---------------------------------------------------------------------------*/
@font-face {
  font-family: "SF Display";
  font-weight: $black;
  src: url("../webfonts/sf-display/SF-UI-Display-Black.otf");
}

@font-face {
  font-family: "SF Display";
  font-weight:$heavy;
  src: url("../webfonts/sf-display/SF-UI-Display-Heavy.otf");
}

@font-face {
  font-family: "SF Display";
  font-weight: $bold;
  src: url("../webfonts/sf-display/SF-UI-Display-Bold.otf");
}

@font-face {
  font-family: "SF Display";
  font-weight: $semibold;
  src: url("../webfonts/sf-display/SF-UI-Display-Semibold.otf");
}

@font-face {
  font-family: "SF Display";
  font-weight: $medium;
  src: url("../webfonts/sf-display/SF-UI-Display-Medium.otf");
}

@font-face {
  font-family: "SF Display";
  font-weight: $regular;
  src: url("../webfonts/sf-display/SF-UI-Display-Regular.otf");
}

@font-face {
  font-family: "SF Display";
  font-weight: $thin;
  src: url("../webfonts/sf-display/SF-UI-Display-Thin.otf");
}

@font-face {
  font-family: "SF Display";
  font-weight: $light;
  src: url("../webfonts/sf-display/SF-UI-Display-Light.otf");
}

@font-face {
  font-family: "SF Display";
  font-weight: $ultrathin;
  src: url("../webfonts/sf-display/SF-UI-Display-Ultralight.otf");
}

/*---------------------------------------------------------------------------*
 * SF Text
 *---------------------------------------------------------------------------*/

@font-face {
  font-family: "SF Text";
  font-weight: $heavy;
  src: url("../webfonts/sf-text/SF-UI-Text-Heavy.otf");
}

@font-face {
  font-family: "SF Text";
  font-weight: $heavy;
  font-style: italic;
  src: url("../webfonts/sf-text/SF-UI-Text-HeavyItalic.otf");
}

@font-face {
  font-family: "SF Text";
  font-weight: $bold;
  src: url("../webfonts/sf-text/SF-UI-Text-Bold.otf");
}

@font-face {
  font-family: "SF Text";
  font-weight: $bold;
  font-style: italic;
  src: url("../webfonts/sf-text/SF-UI-Text-BoldItalic.otf");
}

@font-face {
  font-family: "SF Text";
  font-weight: $semibold;
  src: url("../webfonts/sf-text/SF-UI-Text-Semibold.otf");
}

@font-face {
  font-family: "SF Text";
  font-weight: $semibold;
  font-style: italic;
  src: url("../webfonts/sf-text/SF-UI-Text-SemiboldItalic.otf");
}

@font-face {
  font-family: "SF Text";
  font-weight: $medium;
  src: url("../webfonts/sf-text/SF-UI-Text-Medium.otf");
}

@font-face {
  font-family: "SF Text";
  font-weight: $medium;
  font-style: italic;
  src: url("../webfonts/sf-text/SF-UI-Text-MediumItalic.otf");
}

@font-face {
  font-family: "SF Text";
  font-weight: $regular;
  src: url("../webfonts/sf-text/SF-UI-Text-Regular.otf");
}

@font-face {
  font-family: "SF Text";
  font-weight: $regular;
  font-style: italic;
  src: url("../webfonts/sf-text/SF-UI-Text-RegularItalic.otf");
}

@font-face {
  font-family: "SF Text";
  font-weight: $light;
  src: url("../webfonts/sf-text/SF-UI-Text-Light.otf");
}

@font-face {
  font-family: "SF Text";
  font-weight: $light;
  font-style: italic;
  src: url("../webfonts/sf-text/SF-UI-Text-HeavyItalic.otf");
}

@font-face {
  font-family: "SF Text";
  font-weight: $ultrathin;
  src: url("../webfonts/sf-text/SF-UI-Text-Ultrathin.otf");
}

@font-face {
  font-family: "SF Text";
  font-weight: $ultrathin;
  font-style: italic;
  src: url("../webfonts/sf-text/SF-UI-Text-UltrathinItalic.otf");
}
