.list-booking{
  margin: 20px 0;
  &__title{
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.08px;
    text-transform: uppercase;
    color: #B4B7C9;
    font-weight: $semibold;
    text-align: center;
    margin-bottom: 10px;
  }
}
.detail-booking{
  margin: 20px 0;
  .view-map{
    padding: 0;
  }
}