.co-payment {
  padding: 20px 15px;
  &__date {
    padding:12px 0 19px;
  }
  &__title{
    margin-bottom: 8px;
    span{
      font-size: 15px;
      line-height: 20px;
      letter-spacing: -0.24px;
      color: #000000;
      font-weight: $semibold;
      padding-left: 8px;
    }
    span,svg{
      vertical-align: middle;
    }
  }
  &__input {
    position: relative;
    .form-control{
      font-weight: $semibold;
      font-size: 17px;
      line-height: 19px;
      letter-spacing: -0.41px;
      color: #000000;
    }
    button {
      position: absolute;
      padding: 7px 17px;
      background-color: #E7E2F4;
      top:50%;
      transform: translateY(-50%);
      right: 10px;
      border: none;
      border-radius: 5px;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: -0.24px;
      color: #000000;
      font-weight: $regular;
      &:focus {
        outline: none;
      }
    }
  }
  &__benefit {
    padding-bottom: 30px;
    @include add-border(1px,$main-color,bottom);
  }
  &__price{
    padding: 23px 0 19px;
    border-bottom: 1px solid #D3D6E9;
    li{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 7px;
      &:last-child{
        padding-bottom: 0;
      }
      p{
        font-size: 15px;
        line-height: 20px;
        letter-spacing: -0.24px;
        color: #333333;
      }
      &.li-payment{
        p{
          font-weight: $semibold;
          &:last-child{
            font-size: 20px;
            line-height: 25px;
            letter-spacing: 0.38px;
            color: #FF3B30;
            font-weight: $bold;
          }
        }
      }
    }
  }
  &__detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
    p {
      letter-spacing: -0.24px;
      &.price {
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.38px;
        font-weight: $bold;
        color: $red-2;
      }
    }
  }
  &__total {
    padding: 20px 0;
    @include add-border(1px,#D3D6E9,bottom);
    p {
      font-size: 15px;
      line-height: 20px;
      font-weight: $regular;
    }
  }
  &__form {
    padding: 20px 0;
    .form-group {
      margin-bottom: 10px;
    }
    .form-control{
      padding: 13px;
    }
    p {
      color:#8F8E94 ;
      line-height: 20px;
      font-size: 15px;
      font-weight: $regular;
      letter-spacing: -0.24px;

    }
  }
  &__radio {
    display: flex;
    padding-bottom: 20px;
    .radio {
      padding-right: 25px;
    }
  }
  &__choise{
    margin-bottom: 10px;
  }
}
.checkout-top {
  display: flex;
  justify-content: space-between;
  &__title{
    margin-bottom: 15px;
    h5{
      font-size: 22px;
      line-height: 24px;
      letter-spacing: 0.35px;
      color: #000000;
      font-weight: $bold;
    }
  }
  &__address{
    display: flex;
    align-items: baseline;
    p{
      width: calc(100% - 12px);
      padding-left:8px;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: -0.24px;
      color: #000000;
      font-weight: $semibold;
      span{
        display: block;
        color: #8F8E94;
        font-weight: $regular;
      }
    }
  }
  &__left{
    width: calc(100% - 90px);
    padding-right: 10px;
  }
  &__right {
    width: 90px;
    .payment {
      border-radius: 5px;
      vertical-align: text-top;
    }
  }
  &__img{
    width: 90px;
    height: 90px;
    border-radius: 10px;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.checkout-title {
  padding-bottom: 15px;
  h5 {
    font-size: 22px;
    line-height: 24px;
    font-weight: $bold;
    letter-spacing: 0.35px;
  }
}
.checkout-location {
  display: flex;
  &__text {
    padding-left: 10px;
    span {
      font-size: 15px;
      line-height: 20px;
      font-weight: $semibold;
      color: $black-1;
      i {
        display: block;
        color:#8F8E94;
        font-weight: $regular;
        font-style: initial;
        letter-spacing: -0.24px;
      }
    }
    p {
      padding-bottom: 10px;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: -0.24px;
    }
  }
}
.checkout-btn {
  background-color: $main-color;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    display: block;
    padding: 14px 0 14px 10px;
    text-align: center;
    color: $white-1;
    text-transform: uppercase;
    font-weight: $semibold;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.41px;
    &:hover {
      text-decoration: none;
    }
  }
}
.co-success {
  background: linear-gradient(228.44deg, #6A28FA 15.44%, #250054 85%);
  &__header {
    position: relative;
    padding: 20px;
  }
  &__logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 41px;
    height: 39px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__text {
    text-align: right;
    p {
      font-size: 17px;
      line-height: 22px;
      letter-spacing: -0.41px;
      color: $white-1;
      font-weight: $regular;
      display: inline-block;
    }
  }
  &__title {
    padding: 14px 0 24px;
    h5 {
      text-align: center;
      font-size: 17px;
      line-height: 22px;
      letter-spacing: -0.41px;
      text-transform: uppercase;
      font-weight: $semibold;
      color: $white-1;
    }
    span {
      display: block;
    }
  }
  &__content {
    margin: 0 16px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    .booking-box{
      margin-bottom: 0;
      &__top{
        border-radius: 10px;
      }
    }
  }
  &__history {
    padding: 15px 0;
    text-align: center;
    a {
      font-size: 16px;
      line-height: 22px;
      letter-spacing: -0.41px;
      color: $white-1;
      text-decoration: underline;
      font-weight: $regular;
    }
  }
}