.detail-title{
  margin-bottom:12px;
  h4{
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.38px;
    color: #000;
    font-weight: $bold;
    span{
      padding-left: 10px;
      display: inline-block;
      margin-top: 1px;
      letter-spacing: -1px;
    }
    img,svg{
      vertical-align: middle;
    }
  }
}
.list-group{
  margin-bottom: 20px;
  padding: 0 15px;
  &__item{
    padding: 12px 0;
    border-bottom:1px solid #D3D6E9;
  }
  &__title{
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.07px;
    text-transform: uppercase;
    color: $main-color;
    font-weight: $semibold;
    margin-bottom: 5px;
  }
  &__text{
    display: flex;
    align-items: center;
    span{
      font-size: 15px;
      line-height: 20px;
      letter-spacing: -0.24px;
      color: #333;
      font-weight: $semibold;
      padding-left: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: calc(100% - 20px);
    }
  }
}
.view-360{
  padding-left: 10px;
  margin-bottom: 30px;
  &__slide{
    &__item{
      padding: 0 5px;
      .item-360{
        width:89vw;
        height: 250px;
        border-radius:10px;
        overflow: hidden;
        > img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

    }
  }
}
.view-map{
  padding: 0 15px;
  margin-bottom: 30px;
  &__iframe{
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    iframe{
      width: 100%;
      height: 150px;
    }
  }
  &__tab{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    &__item{
      width: 50%;
      text-align: center;
      background-color: $main-color;
      padding: 13px 0;
      border-right: 1px solid  rgba(255, 255, 255, 0.2);
      &:last-child{
        border-right: none;
      }
      span,svg,img{
        vertical-align: middle;
      }
      span{
        color: #fff;
        padding-left: 10px;
      }
    }
  }
}
.detail-bar{
  &__banner{
    width: 100%;
    height: 280px;
    margin-top: -72px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__name{
    .home-profile{
      border-radius: 0;
      background: linear-gradient(195.02deg, #6A28FA -0.4%, #250054 82.39%);
      padding: 10px 15px 20px;
      &__top{
        align-items: initial;
        margin-bottom: 10px;
      }
      &__avatar{
        width: 70px;
        height: 70px;
        transform: translateY(8px);
      }
      &__name{
        width: calc(100% - 70px);
        .p1{
          font-size: 13px;
          line-height: 18px;
          letter-spacing: 0;
          opacity: .6;
          margin-bottom: 3px;
        }
        .p3{
          margin-top: 10px;
          span{
            letter-spacing: 0;
          }
        }
      }
      &__info{
        p{
          span{
            letter-spacing: 0;
          }
        }
      }
    }
  }
  &__events{}
  &__booking{
    .list-offers{
      padding: 0;
      &__item{
        padding: 0 15px 20px;
        margin: 0;
        .life-card{
          width: 100%;
        }
      }
    }
  }
  &__info{}
  &__relate{
    margin-bottom: 30px;
  }
}
.life-gallery{
  padding: 0 15px;
  margin-bottom: 30px;
  &__content{
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    position: relative;
  }
  &__left{
    width: 50%;
    padding-right: 3px;
  }
  &__right{
    width: 50%;
    .life-gallery__item{
      height: 50%;
      &:first-child{
        padding-bottom: 1.5px;
      }
      &:last-child{
        padding-top: 1.5px;
      }
    }
  }
  &__item{
    width: 100%;
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__badge{
    border-radius: 17px;
    overflow: hidden;
    padding: 4px 9px 3px;
    display: inline-block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    &__blur{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      filter: blur(10px);
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #fff;
      &:before{
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 1;
        content: '';
        display: block;
        background:rgba(0, 0, 0, 0.5);
      }
    }
    span{
      font-size: 15px;
      line-height: 20px;
      letter-spacing: -0.24px;
      color: #FFFFFF;
      opacity: 0.8;
      font-weight: $semibold;
      padding-left: 4px;
    }
    span,svg{
      vertical-align: middle;
      position: relative;
    }
    svg{
      path{
        opacity: .7;
      }
    }
  }
}
.view-social{
  padding: 0 15px;
  margin-bottom: 30px;
  &__group{}
  &__item{
    background: #FFFFFF;
    border: 1px solid #D3D6E9;
    display: block;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    &:last-child{
      margin-bottom: 0;
    }
    span{
      font-size: 17px;
      line-height: 22px;
      letter-spacing: -0.41px;
      color: #8F8E94;
      padding-left: 15px;
    }
    span,img,svg{
      vertical-align: middle;
    }
  }
}