.life-map{
  &__body{
    margin-top: -72px;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  &__iframe{
    width: 100%;
    height: 100%;
    iframe{
      width: 100%;
      height: 100%;
    }
  }
  &__bar{
    position: absolute;
    bottom: 35px;
    left: 0;
    z-index: 1;
    .list-bar{
      &__item{
        background: #FFFFFF;
        box-shadow: 0 4px 30px #BFC3DB;
        border-radius: 15px;
        padding: 10px;
        width: 42.5vw;
        margin: 0 6px;
        .bar-item{
          width: 100%;
          height: 177px;
        }
      }
    }
  }
  &__gradient{
    background-image: linear-gradient(to top, $main-color,rgba(255,0,0,0));
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:250px;
  }
}