section.life-search
    .life-search__header
        h5 Tìm kiếm
        p.p-cancel Cancel
    .life-search__input
        input.form-control(type='text' placeholder='Nhập từ khóa')
        button.button-search(type='button')
            svg(width='22', height='22', viewBox='0 0 22 22', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M21 21L14.656 14.656', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                path(d='M9 17C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 17Z', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
        //button.button-remove(type='button')
        //    svg(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
        //        path(d='M8 0C3.6 0 0 3.6 0 8C0 12.4 3.6 16 8 16C12.4 16 16 12.4 16 8C16 3.6 12.4 0 8 0ZM11.5 10.1L10.1 11.5L8 9.4L5.9 11.5L4.5 10.1L6.6 8L4.5 5.9L5.9 4.5L8 6.6L10.1 4.5L11.5 5.9L9.4 8L11.5 10.1Z', fill='#BBBBBB')
        //
    .life-search__result
        .life-search__group
            .life-search__title
                p.p1 Search History
                p.p2 Clear History
            ul.life-search__list
                li
                    a(href='#')
                        svg(width='22', height='22', viewBox='0 0 22 22', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M21 21L14.656 14.656', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                            path(d='M9 17C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 17Z', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                        span 1900 Nightclub
                li
                    a(href='#')
                        svg(width='22', height='22', viewBox='0 0 22 22', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M21 21L14.656 14.656', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                            path(d='M9 17C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 17Z', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                        span Karaoke Đống Đa
                li
                    a(href='#')
                        svg(width='22', height='22', viewBox='0 0 22 22', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M21 21L14.656 14.656', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                            path(d='M9 17C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 17Z', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                        span 1900 Nightclub
                li
                    a(href='#')
                        svg(width='22', height='22', viewBox='0 0 22 22', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M21 21L14.656 14.656', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                            path(d='M9 17C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 17Z', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                        span Karaoke Đống Đa
        .life-search__group
            .life-search__title
                p.p1 Most Searches
            ul.life-search__list
                li
                    a(href='#')
                        svg(width='22', height='22', viewBox='0 0 22 22', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M21 21L14.656 14.656', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                            path(d='M9 17C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 17Z', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                        span 1900 Nightclub
                li
                    a(href='#')
                        svg(width='22', height='22', viewBox='0 0 22 22', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M21 21L14.656 14.656', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                            path(d='M9 17C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 17Z', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                        span Karaoke Đống Đa
                li
                    a(href='#')
                        svg(width='22', height='22', viewBox='0 0 22 22', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M21 21L14.656 14.656', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                            path(d='M9 17C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 17Z', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                        span 1900 Nightclub
                li
                    a(href='#')
                        svg(width='22', height='22', viewBox='0 0 22 22', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M21 21L14.656 14.656', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                            path(d='M9 17C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 17Z', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                        span Karaoke Đống Đa
        .life-search__group.suggestions
            .life-search__title
                p.p1 Suggestions
            ul.life-search__list
                li
                    a(href='#')
                        svg(width='22', height='22', viewBox='0 0 22 22', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M21 21L14.656 14.656', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                            path(d='M9 17C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 17Z', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                        span Phố Châu Long
                li
                    a(href='#')
                        svg(width='18', height='18', viewBox='0 0 14 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M13 6.75C13 10.425 7 16.5 7 16.5C7 16.5 1 10.425 1 6.75C1 2.925 4.075 0.75 7 0.75C9.925 0.75 13 2.925 13 6.75Z', stroke='#C6C6C6', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                            path(d='M7 9C8.24264 9 9.25 7.99264 9.25 6.75C9.25 5.50736 8.24264 4.5 7 4.5C5.75736 4.5 4.75 5.50736 4.75 6.75C4.75 7.99264 5.75736 9 7 9Z', stroke='#C6C6C6', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')

                        span Chiến Hạnh - Karaoke
                li
                    a(href='#')
                        svg(width='18', height='18', viewBox='0 0 14 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M13 6.75C13 10.425 7 16.5 7 16.5C7 16.5 1 10.425 1 6.75C1 2.925 4.075 0.75 7 0.75C9.925 0.75 13 2.925 13 6.75Z', stroke='#C6C6C6', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
                            path(d='M7 9C8.24264 9 9.25 7.99264 9.25 6.75C9.25 5.50736 8.24264 4.5 7 4.5C5.75736 4.5 4.75 5.50736 4.75 6.75C4.75 7.99264 5.75736 9 7 9Z', stroke='#C6C6C6', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')

                        span Crown Opera - Bar