.events-item{
  border-radius: 10px;
  overflow: hidden;
  display: block;
  &:focus{
    outline: none;

  }
  &:hover{
    text-decoration: none;
  }
  &__poster{
    height: 330px;
    width: 100%;
    img{
      width: 100%!important;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content{
    padding: 15px;
    position: relative;
    overflow: hidden;
  }
  &__blur{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(20px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transform: scale(1.5);
    &:before{
      content: '';
      background:rgba(32, 23, 46, 0.86);
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 1;
      display: block;
    }
  }
  &__time{
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    position: relative;
    span{
      font-size: 13px;
      line-height: 18px;
      letter-spacing: -1px;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: $semibold;
      padding-left:9px;
    }
  }
  &__name{
    font-size: 20px;
    line-height: 25px;
    letter-spacing:-1px;
    color: #ffffff;
    font-weight: $bold;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px;
    position: relative;
  }
  &__address{
    display: flex;
    align-items: center;
    position: relative;
    span{
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -.24px;
      color:rgba(255, 255, 255, 0.7);
      padding-left: 7px;
    }
    svg{
      path{
        fill: #BFA1FF;
      }
    }
  }
}
.list-events{
  padding-left: 15px;
  overflow: hidden;
  &__item{
    margin-right: 10px;
    .events-item{
      width:71vw;
    }
  }
}