.guide-box{
  margin-bottom: 30px;
  &__title{
    position: relative;
    padding:0 0 22px 12px;
    &:before{
      content: '';
      width: 4px;
      height: 20px;
      border-radius: 16px;
      background-color: $main-color;
      position: absolute;
      top:3px;
      left: 0;
    }
    h5{
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.35px;
      color: #000000;
      font-weight: $semibold;
    }
  }
  ul{
    list-style: disc;
    padding-left: 15px;
    li{
      padding-bottom: 15px;
      &:last-child{
        margin-bottom: 0;
      }
      p{
        font-size: 15px;
        line-height: 24px;
        letter-spacing: -0.24px;
        color: #333333;
      }
    }
  }
}