.icon-round{
  border-radius: 23px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  width: 80px;
  height: 30px;
  &__item{
    width: 50%;
    height: 100%;
    border-right: 1px solid  rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    &:last-child{
      border-right: none;
    }
    img {
      width: 15px;
    }
  }
}