.login-header{
  text-align: center;
  &__logo{
    padding-top: 30px;
  }
  &__text{
    padding: 20px 0 50px;
    p{
      font-size: 17px;
      line-height: 22px;
      font-weight: $semibold;
    }
  }
}

.home-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:30px 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index:100;
  transition:.5s;
  &__logo{
    h1{
      line-height: 0;
      a{
        display: block;
      }
    }
    .logo-black{
      display: none;
    }

  }
  &__search{
    .search-purple {
      display: none;
    }
  }
  &_fixed{
    background-color:#ffffff;
    padding: 15px;
    box-shadow: 0 1px 3px 0 rgba(27,27,27,.1);
    .home-header__logo{
      .logo-white{
        display: none;
      }
      .logo-black{
        display: block;
      }
    }
    .home-header__search{
      .search-white {
        display: none;
      }
      .search-purple {
        display: block;
      }
    }
  }
}

.detail-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px 15px;
  &__back{
    background-color: #FFEA31;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
    color: #000;
    &:active,
    &:focus{
      color:#fff;
    }
    img {
      vertical-align: middle;
    }
  }
}

.co-header {
  position: relative;
  padding: 15px;
  &__back {
    a {
      display: inline-block;
    }
  }
  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    p {
      font-size: 17px;
      line-height: 22px;
      color: #000000;
      font-weight: $semibold;
    }
  }
}

.list-header{
  margin-bottom: 5px;
  &__tab{
    background:linear-gradient(180deg, #6A28FA 0%, #250054 113.48%);
    padding: 15px 0;
    &__group{
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #BFA2FF;
      border-radius: 4px;
      width: 200px;
      margin: auto;
    }
    &__item{
      width: 100px;
      text-align: center;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: -0.24px;
      color: #FFFFFF;
      padding: 5px 0;
      &.active{
        background-color: #BFA2FF;
      }
    }
  }
  &__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 40px;
    .list-nav{
      width: calc(100% - 40px);
      padding-left: 15px;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      white-space: nowrap;
    }
  }
  &__map{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 5px;
    .form-group{
      margin-bottom: 0;
      width: 33.333%;
      padding: 0 5px;
      .form-control{
        padding: 5px 8px;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: -0.08px;
        color: #111111;
        border-radius: 5px;
      }
      .btn{
        padding: 7px 10px;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: -0.08px;
        text-transform: initial;
        font-weight: 400;
        width: 100%;
        i{
          margin-right: 5px;
        }
      }
      &.active{
        .form-control{
          border-color: $main-color;
          color: $main-color;
        }
      }
    }
  }
}

.booking-header{
  position: relative;
  background-color: #fff;
  &__back{
    a{
      color: $main-color;
      display: inline-block;
      padding: 15px;
      font-size: 17px;
      line-height: 22px;
    }
    a:not([href]):not([tabindex]){
      color: $main-color;
    }
  }
  &__title{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    p{
      font-size: 17px;
      line-height: 22px;
      letter-spacing: -0.41px;
      color: #000000;
      font-weight: $semibold;
    }
  }
}