.life-menu{
  background-color: #F7FAFE;
  height: 100%;
  width:calc(100% - 70px);
  position:fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition:.5s;
  visibility: hidden;
  transform: scale3d(.8,.8,.8);
  &__profile{
    .home-profile{
      border-radius: 0;
      background: linear-gradient(209.76deg, #6A28FA -11.06%, #250054 82.15%);
      margin-bottom: 0;
      &__top{
        margin-bottom: 0;
      }
    }
  }
  &__nav{
    ul{
      margin-bottom: 8px;
      li{
        padding-left: 15px;
        background-color: #fff;
        a{
          padding: 19px 15px 19px 0;
          font-size: 17px;
          line-height: 22px;
          letter-spacing: -0.41px;
          color: #000000;
          display:flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
          &:active{
            background-color: #F7FAFE;
          }
          p{
            img,span{
              vertical-align: middle;
            }
            span{
              padding-left: 15px;
            }
          }
        }
        a:not([href]):not([tabindex]){
          color: #000;
        }
        &:last-child{
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
          a{
            border-bottom: none;
          }
        }
      }
    }
  }
}
.life-wrapper{
  transition: transform .5s;
  background-color: #EFF0F6;
}
.life-backdrop{
  width: 100%;
  background-color: rgba(0,0,0,.6);
  position: fixed;
  top: 0;
  right:1px;
  bottom: 0;
  z-index:9999;
  transition:.5s;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 0 12px rgba(0,0,0,.5);
}
.open-menu{
  overflow: hidden;
  .life-wrapper{
    transform: translateX(calc(100% - 70px));
  }
  .life-menu{
    visibility: visible;
    transform: scale3d(1,1,1);
  }
  .life-backdrop{
    visibility: visible;
    opacity: 1;
  }
}