.badge{
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  border-radius: 12px;
  padding: 5px 10px;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.07px;
  text-transform: uppercase;
  font-weight:$regular;
  i{
    margin-right:5px;
  }
  &_red{
    i{
      color: #FF3B30;
    }
  }
  &_yellow{
    i{
      color:#FFEA31;
    }
  }
}