.btn{
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.41px;
  text-transform: uppercase;
  font-weight: $semibold;
  padding: 14px 20px;
  border: none;
  border-radius: 6px;
}
.btn-purple{
  background-color: $main-color;
  color: $white-1!important;
  &:hover{
    color: $white-1;
    background-color:$main-color;
  }
  &:active, &:focus{
    box-shadow: 0 0 0 0.2rem rgba(106, 40, 250, 0.5);
  }
}
.btn-disable{
  pointer-events:none;
  background-color: $gray-1;
  color: $gray-2!important;
}
.btn-round{
  border-radius: 60px;
}
.btn-outline{
  background-color: #fff;
  border:1px solid $main-color;
  color: $main-color;
}
.btn-gray{
  background-color: #BEBEBE;
  color: #fff!important;
}
button.close{
  width: 28px;
  height: 28px;
  line-height:0;
  background-color: rgba(143, 142, 148, 0.7);
  border-radius: 50%;
  &:focus,
  &:active{
    background-color: rgb(143, 142, 148);
  }
}