
.white-1{
  color: $white-1!important;
}
.black-1{
  color: $black-1!important;
}
.purple-1{
  color: $purple-1!important;
}

.mb-40{
  margin-bottom: 40px!important;
}
.semibold {font-weight: 600!important;}
.bold {font-weight: 700!important;}
.red-2 {color:#FF3B30!important; }
.size-20 {font-size: 20px!important;}
.size-11 {font-size: 11px!important;}
.lh-13 {line-height: 13px!important;}
.pt-5 {padding-top: 5px!important;}

.i-dots{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
}
.dashed{
  width:calc(100% - 15px);
  height: 6px;
  background-color: #fff;
  position: absolute;
  bottom:-3.5px;
  left:50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  hr{
    width: 100%;
    height: 1px;
    background-image: linear-gradient(90deg, #DFE2F5, #DFE2F5 75%, transparent 75%, transparent 100%);
    background-size: 5px 1px;
    border: none;
    margin: 0;
  }
}