.radio{
  input[type="radio"] {
    display: none;
  }
  label {
    position: relative;
    cursor: pointer;
    margin-bottom: 0;
    padding-left:33px;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.41px;
    color: #333333;

    &:active{color:$main-color; }
  }
  input[type="radio"] + label:before {
    content: "";
    width: 26px;
    height: 26px;
    line-height: 26px;
    position: absolute;
    left: 0;
    top:-2px;
    display: inline-block;
    text-align: center;
    @include add-border(1px,#D3D6E9,all);
    border-radius: 50%;
    background-color:$white-1;
  }
  input[type="radio"]:checked + label:before {
    @include add-border(5px, $white-1, all);
    box-shadow: 0 0 0 1px $main-color;
    background-color: $main-color;
  }
}